# SQL EXAMPLES

In [151]:
import pandas as pd
import sqlite3
import os



# CSV 파일을 데이터베이스에 테이블로 저장
for file in [file for file in os.listdir() if file.endswith('.csv')]:
    # 테이블 이름은 파일 이름 (확장자 제외)
    table_name = os.path.splitext(file)[0]
    df = pd.read_csv(file)

    conn = sqlite3.connect('database.db')

    df.to_sql(table_name, conn, if_exists='replace', index=False)

    conn.close()


def print_query_result(query):
    # SQLite 데이터베이스 연결 (없다면 새로운 데이터베이스 생성)
    conn = sqlite3.connect('database.db')
    cur = conn.cursor()
    cur.execute(query)
    rows = cur.fetchall()
    print(pd.DataFrame(rows))
    conn.close()

## Test !

In [152]:
print_query_result("SELECT * FROM Customers;")

     0                                   1                   2  \
0    1                 Alfreds Futterkiste        Maria Anders
1    2  Ana Trujillo Emparedados y helados        Ana Trujillo
2    3             Antonio Moreno Taquería      Antonio Moreno
3    4                     Around the Horn        Thomas Hardy
4    5                  Berglunds snabbköp  Christina Berglund
..  ..                                 ...                 ...
86  87                      Wartian Herkku    Pirkko Koskitalo
87  88              Wellington Importadora       Paula Parente
88  89                White Clover Markets      Karl Jablonski
89  90                         Wilman Kala     Matti Karttunen
90  91                              Wolski             Zbyszek

                                3            4          5        6
0                   Obere Str. 57       Berlin      12209  Germany
1   Avda. de la Constitución 2222  México D.F.      05021   Mexico
2                  Mataderos 2312  México D.F.      05023   Mexico
3                 120 Hanover Sq.       London    WA1 1DP       UK
4                  Berguvsvägen 8        Luleå   S-958 22   Sweden
..                            ...          ...        ...      ...
86                    Torikatu 38         Oulu      90110  Finland
87             Rua do Mercado, 12      Resende  08737-363   Brazil
88    305 - 14th Ave. S. Suite 3B      Seattle      98128      USA
89                  Keskuskatu 45     Helsinki      21240  Finland
90                ul. Filtrowa 68        Walla     01-012     None

[91 rows x 7 columns]

## SELECT

In [153]:
print_query_result("SELECT CustomerName, City FROM Customers;")

                                     0            1
0                  Alfreds Futterkiste       Berlin
1   Ana Trujillo Emparedados y helados  México D.F.
2              Antonio Moreno Taquería  México D.F.
3                      Around the Horn       London
4                   Berglunds snabbköp        Luleå
..                                 ...          ...
86                      Wartian Herkku         Oulu
87              Wellington Importadora      Resende
88                White Clover Markets      Seattle
89                         Wilman Kala     Helsinki
90                              Wolski        Walla

[91 rows x 2 columns]

## The SQL SELECT DISTINCT Statement

In [154]:
print_query_result("SELECT DISTINCT Country FROM Customers;")

              0
0       Germany
1        Mexico
2            UK
3        Sweden
4        France
5         Spain
6        Canada
7     Argentina
8   Switzerland
9        Brazil
10      Austria
11        Italy
12     Portugal
13          USA
14    Venezuela
15      Ireland
16      Belgium
17       Norway
18      Denmark
19      Finland
20         None

## SELECT Example Without DISTINCT

In [155]:
print_query_result("SELECT Country FROM Customers;")

          0
0   Germany
1    Mexico
2    Mexico
3        UK
4    Sweden
..      ...
86  Finland
87   Brazil
88      USA
89  Finland
90     None

[91 rows x 1 columns]

## WHERE

In [156]:
print_query_result("SELECT * FROM Customers WHERE Country='Mexico';")

    0                                   1                     2  \
0   2  Ana Trujillo Emparedados y helados          Ana Trujillo
1   3             Antonio Moreno Taquería        Antonio Moreno
2  13          Centro comercial Moctezuma       Francisco Chang
3  58           Pericles Comidas clásicas   Guillermo Fernández
4  80                 Tortuga Restaurante  Miguel Angel Paolino

                               3            4      5       6
0  Avda. de la Constitución 2222  México D.F.  05021  Mexico
1                 Mataderos 2312  México D.F.  05023  Mexico
2        Sierras de Granada 9993  México D.F.  05022  Mexico
3       Calle Dr. Jorge Cash 321  México D.F.  05033  Mexico
4               Avda. Azteca 123  México D.F.  05033  Mexico

## Text Fields vs. Numeric Fields

In [157]:
query = """
SELECT * FROM Customers
WHERE CustomerID=1;
"""
print_query_result(query)

   0                    1             2              3       4      5        6
0  1  Alfreds Futterkiste  Maria Anders  Obere Str. 57  Berlin  12209  Germany

## Operators in The WHERE Clause

In [158]:
query = """
SELECT * FROM Customers
WHERE CustomerID > 80;
"""
print_query_result(query)

     0                                  1                  2  \
0   81             Tradição Hipermercados  Anabela Domingues
1   82  Trail's Head Gourmet Provisioners     Helvetius Nagy
2   83                       Vaffeljernet        Palle Ibsen
3   84               Victuailles en stock       Mary Saveley
4   85          Vins et alcools Chevalier       Paul Henriot
5   86                  Die Wandernde Kuh        Rita Müller
6   87                     Wartian Herkku   Pirkko Koskitalo
7   88             Wellington Importadora      Paula Parente
8   89               White Clover Markets     Karl Jablonski
9   90                        Wilman Kala    Matti Karttunen
10  91                             Wolski            Zbyszek

                              3          4          5        6
0       Av. Inês de Castro, 414  São Paulo  05634-030   Brazil
1             722 DaVinci Blvd.   Kirkland      98034      USA
2                 Smagsløget 45      Århus       8200  Denmark
3            2, rue du Commerce       Lyon      69004   France
4            59 rue de l'Abbaye      Reims      51100   France
5             Adenauerallee 900  Stuttgart      70563  Germany
6                   Torikatu 38       Oulu      90110  Finland
7            Rua do Mercado, 12    Resende  08737-363   Brazil
8   305 - 14th Ave. S. Suite 3B    Seattle      98128      USA
9                 Keskuskatu 45   Helsinki      21240  Finland
10              ul. Filtrowa 68      Walla     01-012     None

## ORDER BY

In [159]:
query = """
SELECT * FROM Products
ORDER BY Price;
"""
print_query_result(query)

     0                        1   2  3                     4       5
0   33                  Geitost  15  4                 500 g    2.50
1   24       Guaraná Fantástica  10  1      12 - 355 ml cans    4.50
2   13                    Konbu   6  8              2 kg box    6.00
3   52                 Filo Mix  24  5       16 - 2 kg boxes    7.00
4   54                Tourtière  25  6               16 pies    7.45
..  ..                      ...  .. ..                   ...     ...
72  18         Carnarvon Tigers   7  8            16 kg pkg.   62.50
73  20   Sir Rodney's Marmalade   8  3         30 gift boxes   81.00
74   9          Mishi Kobe Niku   4  6      18 - 500 g pkgs.   97.00
75  29  Thüringer Rostbratwurst  12  6  50 bags x 30 sausgs.  123.79
76  38            Côte de Blaye  18  1    12 - 75 cl bottles  263.50

[77 rows x 6 columns]

## DESC

In [160]:
query = """
SELECT * FROM Products
ORDER BY Price DESC;
"""
print_query_result(query)

     0                        1   2  3                     4       5
0   38            Côte de Blaye  18  1    12 - 75 cl bottles  263.50
1   29  Thüringer Rostbratwurst  12  6  50 bags x 30 sausgs.  123.79
2    9          Mishi Kobe Niku   4  6      18 - 500 g pkgs.   97.00
3   20   Sir Rodney's Marmalade   8  3         30 gift boxes   81.00
4   18         Carnarvon Tigers   7  8            16 kg pkg.   62.50
..  ..                      ...  .. ..                   ...     ...
72  54                Tourtière  25  6               16 pies    7.45
73  52                 Filo Mix  24  5       16 - 2 kg boxes    7.00
74  13                    Konbu   6  8              2 kg box    6.00
75  24       Guaraná Fantástica  10  1      12 - 355 ml cans    4.50
76  33                  Geitost  15  4                 500 g    2.50

[77 rows x 6 columns]

## Order Alphabetically

In [161]:
query = """
SELECT * FROM Products
ORDER BY ProductName;
"""
print_query_result(query)

     0                                1   2  3                    4      5
0   17                     Alice Mutton   7  6       20 - 1 kg tins  39.00
1    3                    Aniseed Syrup   1  2  12 - 550 ml bottles  10.00
2   40                 Boston Crab Meat  19  8       24 - 4 oz tins  18.40
3   60                Camembert Pierrot  28  4    15 - 300 g rounds  34.00
4   18                 Carnarvon Tigers   7  8           16 kg pkg.  62.50
..  ..                              ...  .. ..                  ...    ...
72   7  Uncle Bob's Organic Dried Pears   3  7      12 - 1 lb pkgs.  30.00
73  50                 Valkoinen suklaa  23  3      12 - 100 g bars  16.25
74  63                     Vegie-spread   7  2      15 - 625 g jars  43.90
75  64        Wimmers gute Semmelknödel  12  5   20 bags x 4 pieces  33.25
76  47                    Zaanse koeken  22  3      10 - 4 oz boxes   9.50

[77 rows x 6 columns]

## Alphabetically DESC

In [162]:
query = """
SELECT * FROM Products
ORDER BY ProductName DESC;
"""
print_query_result(query)

     0                                1   2  3                    4      5
0   47                    Zaanse koeken  22  3      10 - 4 oz boxes   9.50
1   64        Wimmers gute Semmelknödel  12  5   20 bags x 4 pieces  33.25
2   63                     Vegie-spread   7  2      15 - 625 g jars  43.90
3   50                 Valkoinen suklaa  23  3      12 - 100 g bars  16.25
4    7  Uncle Bob's Organic Dried Pears   3  7      12 - 1 lb pkgs.  30.00
..  ..                              ...  .. ..                  ...    ...
72  18                 Carnarvon Tigers   7  8           16 kg pkg.  62.50
73  60                Camembert Pierrot  28  4    15 - 300 g rounds  34.00
74  40                 Boston Crab Meat  19  8       24 - 4 oz tins  18.40
75   3                    Aniseed Syrup   1  2  12 - 550 ml bottles  10.00
76  17                     Alice Mutton   7  6       20 - 1 kg tins  39.00

[77 rows x 6 columns]

## ORDER BY Several Columns

In [163]:
query = """
SELECT * FROM Customers
ORDER BY Country, CustomerName;

"""
print_query_result(query)

     0                           1                 2  \
0   91                      Wolski           Zbyszek
1   12  Cactus Comidas para llevar  Patricio Simpson
2   54      Océano Atlántico Ltda.    Yvonne Moncada
3   64               Rancho grande  Sergio Gutiérrez
4   20                Ernst Handel     Roland Mendel
..  ..                         ...               ...
86  89        White Clover Markets    Karl Jablonski
87  33        GROSELLA-Restaurante    Manuel Pereira
88  35            HILARIÓN-Abastos  Carlos Hernández
89  46           LILA-Supermercado   Carlos González
90  47            LINO-Delicateses  Felipe Izquierdo

                                                 3                4       5  \
0                                  ul. Filtrowa 68            Walla  01-012
1                                      Cerrito 333     Buenos Aires    1010
2              Ing. Gustavo Moncada 8585 Piso 20-A     Buenos Aires    1010
3                           Av. del Libertador 900     Buenos Aires    1010
4                                     Kirchgasse 6             Graz    8010
..                                             ...              ...     ...
86                     305 - 14th Ave. S. Suite 3B          Seattle   98128
87                       5ª Ave. Los Palos Grandes          Caracas    1081
88      Carrera 22 con Ave. Carlos Soublette #8-35    San Cristóbal    5022
89  Carrera 52 con Ave. Bolívar #65-98 Llano Largo     Barquisimeto    3508
90                         Ave. 5 de Mayo Porlamar  I. de Margarita    4980

            6
0        None
1   Argentina
2   Argentina
3   Argentina
4     Austria
..        ...
86        USA
87  Venezuela
88  Venezuela
89  Venezuela
90  Venezuela

[91 rows x 7 columns]

## Using Both ASC and DESC

In [164]:
query = """
SELECT * FROM Customers
ORDER BY Country ASC, CustomerName DESC;

"""
print_query_result(query)

     0                           1                 2  \
0   91                      Wolski           Zbyszek
1   64               Rancho grande  Sergio Gutiérrez
2   54      Océano Atlántico Ltda.    Yvonne Moncada
3   12  Cactus Comidas para llevar  Patricio Simpson
4   59            Piccolo und mehr       Georg Pipps
..  ..                         ...               ...
86  32     Great Lakes Food Market     Howard Snyder
87  47            LINO-Delicateses  Felipe Izquierdo
88  46           LILA-Supermercado   Carlos González
89  35            HILARIÓN-Abastos  Carlos Hernández
90  33        GROSELLA-Restaurante    Manuel Pereira

                                                 3                4       5  \
0                                  ul. Filtrowa 68            Walla  01-012
1                           Av. del Libertador 900     Buenos Aires    1010
2              Ing. Gustavo Moncada 8585 Piso 20-A     Buenos Aires    1010
3                                      Cerrito 333     Buenos Aires    1010
4                                      Geislweg 14         Salzburg    5020
..                                             ...              ...     ...
86                                2732 Baker Blvd.           Eugene   97403
87                         Ave. 5 de Mayo Porlamar  I. de Margarita    4980
88  Carrera 52 con Ave. Bolívar #65-98 Llano Largo     Barquisimeto    3508
89      Carrera 22 con Ave. Carlos Soublette #8-35    San Cristóbal    5022
90                       5ª Ave. Los Palos Grandes          Caracas    1081

            6
0        None
1   Argentina
2   Argentina
3   Argentina
4     Austria
..        ...
86        USA
87  Venezuela
88  Venezuela
89  Venezuela
90  Venezuela

[91 rows x 7 columns]

## SQL AND Operator

In [165]:
query = """
SELECT *
FROM Customers
WHERE Country = 'Spain' AND CustomerName LIKE 'G%';
"""
print_query_result(query)

    0                       1                  2                       3  \
0  29  Galería del gastrónomo   Eduardo Saavedra  Rambla de Cataluña, 23
1  30     Godos Cocina Típica  José Pedro Freyre           C/ Romero, 33

           4      5      6
0  Barcelona  08022  Spain
1    Sevilla  41101  Spain

## AND -> All Conditions Must Be True

In [166]:
query = """
SELECT * FROM Customers
WHERE Country = 'Germany'
AND City = 'Berlin'
AND PostalCode > 12000;
"""
print_query_result(query)

   0                    1             2              3       4      5        6
0  1  Alfreds Futterkiste  Maria Anders  Obere Str. 57  Berlin  12209  Germany

## Combining AND and OR

In [167]:
query = """
SELECT * FROM Customers
WHERE Country = 'Spain' AND (CustomerName LIKE 'G%' OR CustomerName LIKE 'R%');
"""
print_query_result(query)

    0                       1                  2                       3  \
0  29  Galería del gastrónomo   Eduardo Saavedra  Rambla de Cataluña, 23
1  30     Godos Cocina Típica  José Pedro Freyre           C/ Romero, 33
2  69        Romero y tomillo   Alejandra Camino             Gran Vía, 1

           4      5      6
0  Barcelona  08022  Spain
1    Sevilla  41101  Spain
2     Madrid  28001  Spain

In [168]:
query = """
SELECT * FROM Customers
WHERE Country = 'Spain' AND CustomerName LIKE 'G%' OR CustomerName LIKE 'R%';
"""
print_query_result(query)

    0                           1                  2                       3  \
0  29      Galería del gastrónomo   Eduardo Saavedra  Rambla de Cataluña, 23
1  30         Godos Cocina Típica  José Pedro Freyre           C/ Romero, 33
2  64               Rancho grande   Sergio Gutiérrez  Av. del Libertador 900
3  65  Rattlesnake Canyon Grocery       Paula Wilson         2817 Milton Dr.
4  66          Reggiani Caseifici    Maurizio Moroni  Strada Provinciale 124
5  67          Ricardo Adocicados     Janete Limeira     Av. Copacabana, 267
6  68          Richter Supermarkt       Michael Holz       Grenzacherweg 237
7  69            Romero y tomillo   Alejandra Camino             Gran Vía, 1

                4          5            6
0       Barcelona      08022        Spain
1         Sevilla      41101        Spain
2    Buenos Aires       1010    Argentina
3     Albuquerque      87110          USA
4   Reggio Emilia      42100        Italy
5  Rio de Janeiro  02389-890       Brazil
6          Genève       1203  Switzerland
7          Madrid      28001        Spain

## SQL OR Operator

In [169]:
query = """
SELECT *
FROM Customers
WHERE Country = 'Germany' OR Country = 'Spain';
"""
print_query_result(query)

     0                                     1                    2  \
0    1                   Alfreds Futterkiste         Maria Anders
1    6               Blauer See Delikatessen           Hanna Moos
2    8             Bólido Comidas preparadas        Martín Sommer
3   17             Drachenblut Delikatessend         Sven Ottlieb
4   22  FISSA Fabrica Inter. Salchichas S.A.           Diego Roel
5   25                        Frankenversand        Peter Franken
6   29                Galería del gastrónomo     Eduardo Saavedra
7   30                   Godos Cocina Típica    José Pedro Freyre
8   39                       Königlich Essen        Philip Cramer
9   44                   Lehmanns Marktstand       Renate Messner
10  52                Morgenstern Gesundkost      Alexander Feuer
11  56                    Ottilies Käseladen  Henriette Pfalzheim
12  63                            QUICK-Stop          Horst Kloss
13  69                      Romero y tomillo     Alejandra Camino
14  79                    Toms Spezialitäten        Karin Josephs
15  86                     Die Wandernde Kuh          Rita Müller

                         3                4      5        6
0            Obere Str. 57           Berlin  12209  Germany
1           Forsterstr. 57         Mannheim  68306  Germany
2           C/ Araquil, 67           Madrid  28023    Spain
3             Walserweg 21           Aachen  52066  Germany
4       C/ Moralzarzal, 86           Madrid  28034    Spain
5        Berliner Platz 43          München  80805  Germany
6   Rambla de Cataluña, 23        Barcelona  08022    Spain
7            C/ Romero, 33          Sevilla  41101    Spain
8            Maubelstr. 90      Brandenburg  14776  Germany
9             Magazinweg 7  Frankfurt a.M.   60528  Germany
10             Heerstr. 22          Leipzig  04179  Germany
11      Mehrheimerstr. 369             Köln  50739  Germany
12        Taucherstraße 10        Cunewalde  01307  Germany
13             Gran Vía, 1           Madrid  28001    Spain
14           Luisenstr. 48          Münster  44087  Germany
15       Adenauerallee 900        Stuttgart  70563  Germany

## At Least One Condition Must Be True

In [170]:
query = """
SELECT * FROM Customers
WHERE City = 'Berlin' OR CustomerName LIKE 'G%' OR Country = 'Norway';
"""
print_query_result(query)

    0                        1                  2                          3  \
0   1      Alfreds Futterkiste       Maria Anders              Obere Str. 57
1  29   Galería del gastrónomo   Eduardo Saavedra     Rambla de Cataluña, 23
2  30      Godos Cocina Típica  José Pedro Freyre              C/ Romero, 33
3  31      Gourmet Lanchonetes      André Fonseca            Av. Brasil, 442
4  32  Great Lakes Food Market      Howard Snyder           2732 Baker Blvd.
5  33     GROSELLA-Restaurante     Manuel Pereira  5ª Ave. Los Palos Grandes
6  70            Santé Gourmet   Jonas Bergulfsen     Erling Skakkes gate 78

           4          5          6
0     Berlin      12209    Germany
1  Barcelona      08022      Spain
2    Sevilla      41101      Spain
3   Campinas  04876-786     Brazil
4     Eugene      97403        USA
5    Caracas       1081  Venezuela
6    Stavern       4110     Norway

## Combining AND and OR

In [171]:
query = """
SELECT * FROM Customers
WHERE Country = 'Spain' AND (CustomerName LIKE 'G%' OR CustomerName LIKE 'R%');
"""
print_query_result(query)

    0                       1                  2                       3  \
0  29  Galería del gastrónomo   Eduardo Saavedra  Rambla de Cataluña, 23
1  30     Godos Cocina Típica  José Pedro Freyre           C/ Romero, 33
2  69        Romero y tomillo   Alejandra Camino             Gran Vía, 1

           4      5      6
0  Barcelona  08022  Spain
1    Sevilla  41101  Spain
2     Madrid  28001  Spain

## NOT Operator

In [172]:
query = """
SELECT * FROM Customers
WHERE NOT Country = 'Spain';
"""
print_query_result(query)

     0                                   1                   2  \
0    1                 Alfreds Futterkiste        Maria Anders
1    2  Ana Trujillo Emparedados y helados        Ana Trujillo
2    3             Antonio Moreno Taquería      Antonio Moreno
3    4                     Around the Horn        Thomas Hardy
4    5                  Berglunds snabbköp  Christina Berglund
..  ..                                 ...                 ...
80  86                   Die Wandernde Kuh         Rita Müller
81  87                      Wartian Herkku    Pirkko Koskitalo
82  88              Wellington Importadora       Paula Parente
83  89                White Clover Markets      Karl Jablonski
84  90                         Wilman Kala     Matti Karttunen

                                3            4          5        6
0                   Obere Str. 57       Berlin      12209  Germany
1   Avda. de la Constitución 2222  México D.F.      05021   Mexico
2                  Mataderos 2312  México D.F.      05023   Mexico
3                 120 Hanover Sq.       London    WA1 1DP       UK
4                  Berguvsvägen 8        Luleå   S-958 22   Sweden
..                            ...          ...        ...      ...
80              Adenauerallee 900    Stuttgart      70563  Germany
81                    Torikatu 38         Oulu      90110  Finland
82             Rua do Mercado, 12      Resende  08737-363   Brazil
83    305 - 14th Ave. S. Suite 3B      Seattle      98128      USA
84                  Keskuskatu 45     Helsinki      21240  Finland

[85 rows x 7 columns]

## NOT LIKE

In [173]:
query = """
SELECT * FROM Customers
WHERE CustomerName NOT LIKE 'A%';
"""
print_query_result(query)

     0                          1                   2  \
0    5         Berglunds snabbköp  Christina Berglund
1    6    Blauer See Delikatessen          Hanna Moos
2    7       Blondel père et fils  Frédérique Citeaux
3    8  Bólido Comidas preparadas       Martín Sommer
4    9                   Bon app'   Laurence Lebihans
..  ..                        ...                 ...
82  87             Wartian Herkku    Pirkko Koskitalo
83  88     Wellington Importadora       Paula Parente
84  89       White Clover Markets      Karl Jablonski
85  90                Wilman Kala     Matti Karttunen
86  91                     Wolski             Zbyszek

                              3           4          5        6
0                Berguvsvägen 8       Luleå   S-958 22   Sweden
1                Forsterstr. 57    Mannheim      68306  Germany
2              24, place Kléber  Strasbourg      67000   France
3                C/ Araquil, 67      Madrid      28023    Spain
4          12, rue des Bouchers   Marseille      13008   France
..                          ...         ...        ...      ...
82                  Torikatu 38        Oulu      90110  Finland
83           Rua do Mercado, 12     Resende  08737-363   Brazil
84  305 - 14th Ave. S. Suite 3B     Seattle      98128      USA
85                Keskuskatu 45    Helsinki      21240  Finland
86              ul. Filtrowa 68       Walla     01-012     None

[87 rows x 7 columns]

## NOT BETWEEN

In [174]:
query = """
SELECT * FROM Customers
WHERE CustomerID NOT BETWEEN 10 AND 60;
"""
print_query_result(query)

     0                                   1                     2  \
0    1                 Alfreds Futterkiste          Maria Anders
1    2  Ana Trujillo Emparedados y helados          Ana Trujillo
2    3             Antonio Moreno Taquería        Antonio Moreno
3    4                     Around the Horn          Thomas Hardy
4    5                  Berglunds snabbköp    Christina Berglund
5    6             Blauer See Delikatessen            Hanna Moos
6    7                Blondel père et fils    Frédérique Citeaux
7    8           Bólido Comidas preparadas         Martín Sommer
8    9                            Bon app'     Laurence Lebihans
9   61                         Que Delícia      Bernardo Batista
10  62                       Queen Cozinha        Lúcia Carvalho
11  63                          QUICK-Stop           Horst Kloss
12  64                       Rancho grande      Sergio Gutiérrez
13  65          Rattlesnake Canyon Grocery          Paula Wilson
14  66                  Reggiani Caseifici       Maurizio Moroni
15  67                  Ricardo Adocicados        Janete Limeira
16  68                  Richter Supermarkt          Michael Holz
17  69                    Romero y tomillo      Alejandra Camino
18  70                       Santé Gourmet      Jonas Bergulfsen
19  71                  Save-a-lot Markets        Jose Pavarotti
20  72                  Seven Seas Imports            Hari Kumar
21  73                       Simons bistro        Jytte Petersen
22  74                Spécialités du monde     Dominique Perrier
23  75               Split Rail Beer & Ale    Art Braunschweiger
24  76                    Suprêmes délices      Pascale Cartrain
25  77                      The Big Cheese             Liz Nixon
26  78                     The Cracker Box              Liu Wong
27  79                  Toms Spezialitäten         Karin Josephs
28  80                 Tortuga Restaurante  Miguel Angel Paolino
29  81              Tradição Hipermercados     Anabela Domingues
30  82   Trail's Head Gourmet Provisioners        Helvetius Nagy
31  83                        Vaffeljernet           Palle Ibsen
32  84                Victuailles en stock          Mary Saveley
33  85           Vins et alcools Chevalier          Paul Henriot
34  86                   Die Wandernde Kuh           Rita Müller
35  87                      Wartian Herkku      Pirkko Koskitalo
36  88              Wellington Importadora         Paula Parente
37  89                White Clover Markets        Karl Jablonski
38  90                         Wilman Kala       Matti Karttunen
39  91                              Wolski               Zbyszek

                                3               4          5            6
0                   Obere Str. 57          Berlin      12209      Germany
1   Avda. de la Constitución 2222     México D.F.      05021       Mexico
2                  Mataderos 2312     México D.F.      05023       Mexico
3                 120 Hanover Sq.          London    WA1 1DP           UK
4                  Berguvsvägen 8           Luleå   S-958 22       Sweden
5                  Forsterstr. 57        Mannheim      68306      Germany
6                24, place Kléber      Strasbourg      67000       France
7                  C/ Araquil, 67          Madrid      28023        Spain
8            12, rue des Bouchers       Marseille      13008       France
9         Rua da Panificadora, 12  Rio de Janeiro  02389-673       Brazil
10      Alameda dos Canàrios, 891       São Paulo  05487-020       Brazil
11               Taucherstraße 10       Cunewalde      01307      Germany
12         Av. del Libertador 900    Buenos Aires       1010    Argentina
13                2817 Milton Dr.     Albuquerque      87110          USA
14         Strada Provinciale 124   Reggio Emilia      42100        Italy
15            Av. Copacabana, 267  Rio de Janeiro  02389-890       Brazil
16              Grenzacherweg 237          Genève       1203  Switzerland
17                    Gran Vía, 1          Madrid      28001        Spain
18         Erling Skakkes gate 78         Stavern       4110       Norway
19                187 Suffolk Ln.           Boise      83720          USA
20                90 Wadhurst Rd.          London   OX15 4NB           UK
21                   Vinbæltet 34       København       1734      Denmark
22              25, rue Lauriston           Paris      75016       France
23                   P.O. Box 555          Lander      82520          USA
24           Boulevard Tirou, 255       Charleroi     B-6000      Belgium
25       89 Jefferson Way Suite 2        Portland      97201          USA
26            55 Grizzly Peak Rd.           Butte      59801          USA
27                  Luisenstr. 48         Münster      44087      Germany
28               Avda. Azteca 123     México D.F.      05033       Mexico
29        Av. Inês de Castro, 414       São Paulo  05634-030       Brazil
30              722 DaVinci Blvd.        Kirkland      98034          USA
31                  Smagsløget 45           Århus       8200      Denmark
32             2, rue du Commerce            Lyon      69004       France
33             59 rue de l'Abbaye           Reims      51100       France
34              Adenauerallee 900       Stuttgart      70563      Germany
35                    Torikatu 38            Oulu      90110      Finland
36             Rua do Mercado, 12         Resende  08737-363       Brazil
37    305 - 14th Ave. S. Suite 3B         Seattle      98128          USA
38                  Keskuskatu 45        Helsinki      21240      Finland
39                ul. Filtrowa 68           Walla     01-012         None

## NOT IN

In [175]:
query = """
SELECT * FROM Customers
WHERE City NOT IN ('Paris', 'London');
"""
print_query_result(query)

     0                                   1                   2  \
0    1                 Alfreds Futterkiste        Maria Anders
1    2  Ana Trujillo Emparedados y helados        Ana Trujillo
2    3             Antonio Moreno Taquería      Antonio Moreno
3    5                  Berglunds snabbköp  Christina Berglund
4    6             Blauer See Delikatessen          Hanna Moos
..  ..                                 ...                 ...
78  87                      Wartian Herkku    Pirkko Koskitalo
79  88              Wellington Importadora       Paula Parente
80  89                White Clover Markets      Karl Jablonski
81  90                         Wilman Kala     Matti Karttunen
82  91                              Wolski             Zbyszek

                                3            4          5        6
0                   Obere Str. 57       Berlin      12209  Germany
1   Avda. de la Constitución 2222  México D.F.      05021   Mexico
2                  Mataderos 2312  México D.F.      05023   Mexico
3                  Berguvsvägen 8        Luleå   S-958 22   Sweden
4                  Forsterstr. 57     Mannheim      68306  Germany
..                            ...          ...        ...      ...
78                    Torikatu 38         Oulu      90110  Finland
79             Rua do Mercado, 12      Resende  08737-363   Brazil
80    305 - 14th Ave. S. Suite 3B      Seattle      98128      USA
81                  Keskuskatu 45     Helsinki      21240  Finland
82                ul. Filtrowa 68        Walla     01-012     None

[83 rows x 7 columns]

## NOT Greater Than

In [176]:
query = """
SELECT * FROM Customers
WHERE NOT CustomerID > 50;
"""
print_query_result(query)

     0                                     1                   2  \
0    1                   Alfreds Futterkiste        Maria Anders
1    2    Ana Trujillo Emparedados y helados        Ana Trujillo
2    3               Antonio Moreno Taquería      Antonio Moreno
3    4                       Around the Horn        Thomas Hardy
4    5                    Berglunds snabbköp  Christina Berglund
5    6               Blauer See Delikatessen          Hanna Moos
6    7                  Blondel père et fils  Frédérique Citeaux
7    8             Bólido Comidas preparadas       Martín Sommer
8    9                              Bon app'   Laurence Lebihans
9   10                Bottom-Dollar Marketse   Elizabeth Lincoln
10  11                         B's Beverages   Victoria Ashworth
11  12            Cactus Comidas para llevar    Patricio Simpson
12  13            Centro comercial Moctezuma     Francisco Chang
13  14                     Chop-suey Chinese           Yang Wang
14  15                      Comércio Mineiro        Pedro Afonso
15  16                 Consolidated Holdings     Elizabeth Brown
16  17             Drachenblut Delikatessend        Sven Ottlieb
17  18                       Du monde entier      Janine Labrune
18  19                    Eastern Connection           Ann Devon
19  20                          Ernst Handel       Roland Mendel
20  21                    Familia Arquibaldo           Aria Cruz
21  22  FISSA Fabrica Inter. Salchichas S.A.          Diego Roel
22  23                     Folies gourmandes       Martine Rancé
23  24                        Folk och fä HB       Maria Larsson
24  25                        Frankenversand       Peter Franken
25  26                   France restauration      Carine Schmitt
26  27                        Franchi S.p.A.       Paolo Accorti
27  28        Furia Bacalhau e Frutos do Mar     Lino Rodriguez
28  29                Galería del gastrónomo    Eduardo Saavedra
29  30                   Godos Cocina Típica   José Pedro Freyre
30  31                   Gourmet Lanchonetes       André Fonseca
31  32               Great Lakes Food Market       Howard Snyder
32  33                  GROSELLA-Restaurante      Manuel Pereira
33  34                         Hanari Carnes        Mario Pontes
34  35                      HILARIÓN-Abastos    Carlos Hernández
35  36            Hungry Coyote Import Store       Yoshi Latimer
36  37          Hungry Owl All-Night Grocers    Patricia McKenna
37  38                        Island Trading       Helen Bennett
38  39                       Königlich Essen       Philip Cramer
39  40                  La corne d'abondance       Daniel Tonini
40  41                      La maison d'Asie      Annette Roulet
41  42         Laughing Bacchus Wine Cellars     Yoshi Tannamuri
42  43                  Lazy K Kountry Store          John Steel
43  44                   Lehmanns Marktstand      Renate Messner
44  45                     Let's Stop N Shop        Jaime Yorres
45  46                     LILA-Supermercado     Carlos González
46  47                      LINO-Delicateses    Felipe Izquierdo
47  48              Lonesome Pine Restaurant         Fran Wilson
48  49          Magazzini Alimentari Riuniti    Giovanni Rovelli
49  50                          Maison Dewey     Catherine Dewey

                                                 3                4  \
0                                    Obere Str. 57           Berlin
1                    Avda. de la Constitución 2222      México D.F.
2                                   Mataderos 2312      México D.F.
3                                  120 Hanover Sq.           London
4                                   Berguvsvägen 8            Luleå
5                                   Forsterstr. 57         Mannheim
6                                 24, place Kléber       Strasbourg
7                                   C/ Araquil, 67           Madrid
8                             12, rue des Bouchers        Marseille
9                               23 Tsawassen Blvd.        Tsawassen
10                               Fauntleroy Circus           London
11                                     Cerrito 333     Buenos Aires
12                         Sierras de Granada 9993      México D.F.
13                                    Hauptstr. 29             Bern
14                            Av. dos Lusíadas, 23        São Paulo
15                    Berkeley Gardens 12 Brewery            London
16                                    Walserweg 21           Aachen
17                    67, rue des Cinquante Otages           Nantes
18                                  35 King George           London
19                                    Kirchgasse 6             Graz
20                                    Rua Orós, 92        São Paulo
21                              C/ Moralzarzal, 86           Madrid
22                        184, chaussée de Tournai            Lille
23                                    Åkergatan 24           Bräcke
24                               Berliner Platz 43          München
25                                  54, rue Royale           Nantes
26                             Via Monte Bianco 34           Torino
27                          Jardim das rosas n. 32           Lisboa
28                          Rambla de Cataluña, 23        Barcelona
29                                   C/ Romero, 33          Sevilla
30                                 Av. Brasil, 442         Campinas
31                                2732 Baker Blvd.           Eugene
32                       5ª Ave. Los Palos Grandes          Caracas
33                                 Rua do Paço, 67   Rio de Janeiro
34      Carrera 22 con Ave. Carlos Soublette #8-35    San Cristóbal
35                  City Center Plaza 516 Main St.            Elgin
36                                8 Johnstown Road             Cork
37                       Garden House Crowther Way            Cowes
38                                   Maubelstr. 90      Brandenburg
39                          67, avenue de l'Europe       Versailles
40                           1 rue Alsace-Lorraine         Toulouse
41                                    1900 Oak St.        Vancouver
42                            12 Orchestra Terrace      Walla Walla
43                                    Magazinweg 7  Frankfurt a.M.
44                             87 Polk St. Suite 5    San Francisco
45  Carrera 52 con Ave. Bolívar #65-98 Llano Largo     Barquisimeto
46                         Ave. 5 de Mayo Porlamar  I. de Margarita
47                              89 Chiaroscuro Rd.         Portland
48                         Via Ludovico il Moro 22          Bergamo
49                             Rue Joseph-Bens 532        Bruxelles

            5            6
0       12209      Germany
1       05021       Mexico
2       05023       Mexico
3     WA1 1DP           UK
4    S-958 22       Sweden
5       68306      Germany
6       67000       France
7       28023        Spain
8       13008       France
9     T2F 8M4       Canada
10    EC2 5NT           UK
11       1010    Argentina
12      05022       Mexico
13       3012  Switzerland
14  05432-043       Brazil
15    WX1 6LT           UK
16      52066      Germany
17      44000       France
18    WX3 6FW           UK
19       8010      Austria
20  05442-030       Brazil
21      28034        Spain
22      59000       France
23   S-844 67       Sweden
24      80805      Germany
25      44000       France
26      10100        Italy
27       1675     Portugal
28      08022        Spain
29      41101        Spain
30  04876-786       Brazil
31      97403          USA
32       1081    Venezuela
33  05454-876       Brazil
34       5022    Venezuela
35      97827          USA
36       None      Ireland
37   PO31 7PJ           UK
38      14776      Germany
39      78000       France
40      31000       France
41    V3F 2K1       Canada
42      99362          USA
43      60528      Germany
44      94117          USA
45       3508    Venezuela
46       4980    Venezuela
47      97219          USA
48      24100        Italy
49     B-1180      Belgium

## NOT Less Than

In [177]:
query = """
SELECT * FROM Customers
WHERE NOT CustomerId < 50;
"""
print_query_result(query)

     0                                  1                     2  \
0   50                       Maison Dewey       Catherine Dewey
1   51                     Mère Paillarde        Jean Fresnière
2   52             Morgenstern Gesundkost       Alexander Feuer
3   53                        North/South        Simon Crowther
4   54             Océano Atlántico Ltda.        Yvonne Moncada
5   55             Old World Delicatessen         Rene Phillips
6   56                 Ottilies Käseladen   Henriette Pfalzheim
7   57                  Paris spécialités        Marie Bertrand
8   58          Pericles Comidas clásicas   Guillermo Fernández
9   59                   Piccolo und mehr           Georg Pipps
10  60            Princesa Isabel Vinhoss      Isabel de Castro
11  61                        Que Delícia      Bernardo Batista
12  62                      Queen Cozinha        Lúcia Carvalho
13  63                         QUICK-Stop           Horst Kloss
14  64                      Rancho grande      Sergio Gutiérrez
15  65         Rattlesnake Canyon Grocery          Paula Wilson
16  66                 Reggiani Caseifici       Maurizio Moroni
17  67                 Ricardo Adocicados        Janete Limeira
18  68                 Richter Supermarkt          Michael Holz
19  69                   Romero y tomillo      Alejandra Camino
20  70                      Santé Gourmet      Jonas Bergulfsen
21  71                 Save-a-lot Markets        Jose Pavarotti
22  72                 Seven Seas Imports            Hari Kumar
23  73                      Simons bistro        Jytte Petersen
24  74               Spécialités du monde     Dominique Perrier
25  75              Split Rail Beer & Ale    Art Braunschweiger
26  76                   Suprêmes délices      Pascale Cartrain
27  77                     The Big Cheese             Liz Nixon
28  78                    The Cracker Box              Liu Wong
29  79                 Toms Spezialitäten         Karin Josephs
30  80                Tortuga Restaurante  Miguel Angel Paolino
31  81             Tradição Hipermercados     Anabela Domingues
32  82  Trail's Head Gourmet Provisioners        Helvetius Nagy
33  83                       Vaffeljernet           Palle Ibsen
34  84               Victuailles en stock          Mary Saveley
35  85          Vins et alcools Chevalier          Paul Henriot
36  86                  Die Wandernde Kuh           Rita Müller
37  87                     Wartian Herkku      Pirkko Koskitalo
38  88             Wellington Importadora         Paula Parente
39  89               White Clover Markets        Karl Jablonski
40  90                        Wilman Kala       Matti Karttunen
41  91                             Wolski               Zbyszek

                                      3               4          5  \
0                   Rue Joseph-Bens 532       Bruxelles     B-1180
1                    43 rue St. Laurent        Montréal    H1J 1C3
2                           Heerstr. 22         Leipzig      04179
3          South House 300 Queensbridge          London    SW7 1RZ
4   Ing. Gustavo Moncada 8585 Piso 20-A    Buenos Aires       1010
5                       2743 Bering St.       Anchorage      99508
6                    Mehrheimerstr. 369            Köln      50739
7               265, boulevard Charonne           Paris      75012
8              Calle Dr. Jorge Cash 321     México D.F.      05033
9                           Geislweg 14        Salzburg       5020
10               Estrada da saúde n. 58          Lisboa       1756
11              Rua da Panificadora, 12  Rio de Janeiro  02389-673
12            Alameda dos Canàrios, 891       São Paulo  05487-020
13                     Taucherstraße 10       Cunewalde      01307
14               Av. del Libertador 900    Buenos Aires       1010
15                      2817 Milton Dr.     Albuquerque      87110
16               Strada Provinciale 124   Reggio Emilia      42100
17                  Av. Copacabana, 267  Rio de Janeiro  02389-890
18                    Grenzacherweg 237          Genève       1203
19                          Gran Vía, 1          Madrid      28001
20               Erling Skakkes gate 78         Stavern       4110
21                      187 Suffolk Ln.           Boise      83720
22                      90 Wadhurst Rd.          London   OX15 4NB
23                         Vinbæltet 34       København       1734
24                    25, rue Lauriston           Paris      75016
25                         P.O. Box 555          Lander      82520
26                 Boulevard Tirou, 255       Charleroi     B-6000
27             89 Jefferson Way Suite 2        Portland      97201
28                  55 Grizzly Peak Rd.           Butte      59801
29                        Luisenstr. 48         Münster      44087
30                     Avda. Azteca 123     México D.F.      05033
31              Av. Inês de Castro, 414       São Paulo  05634-030
32                    722 DaVinci Blvd.        Kirkland      98034
33                        Smagsløget 45           Århus       8200
34                   2, rue du Commerce            Lyon      69004
35                   59 rue de l'Abbaye           Reims      51100
36                    Adenauerallee 900       Stuttgart      70563
37                          Torikatu 38            Oulu      90110
38                   Rua do Mercado, 12         Resende  08737-363
39          305 - 14th Ave. S. Suite 3B         Seattle      98128
40                        Keskuskatu 45        Helsinki      21240
41                      ul. Filtrowa 68           Walla     01-012

              6
0       Belgium
1        Canada
2       Germany
3            UK
4     Argentina
5           USA
6       Germany
7        France
8        Mexico
9       Austria
10     Portugal
11       Brazil
12       Brazil
13      Germany
14    Argentina
15          USA
16        Italy
17       Brazil
18  Switzerland
19        Spain
20       Norway
21          USA
22           UK
23      Denmark
24       France
25          USA
26      Belgium
27          USA
28          USA
29      Germany
30       Mexico
31       Brazil
32          USA
33      Denmark
34       France
35       France
36      Germany
37      Finland
38       Brazil
39          USA
40      Finland
41         None

## SQL INSERT INTO Statement

In [178]:
query = """
INSERT INTO Customers (CustomerName, ContactName, Address, City, PostalCode, Country)
VALUES ('Cardinal', 'Tom B. Erichsen', 'Skagen 21', 'Stavanger', '4006', 'Norway');
"""
print_query_result(query)

Empty DataFrame
Columns: []
Index: []

## Insert Data Only in Specified Columns

In [179]:
query = """
INSERT INTO Customers (CustomerName, City, Country)
VALUES ('Cardinal', 'Stavanger', 'Norway');
"""
print_query_result(query)

Empty DataFrame
Columns: []
Index: []

## Insert Multiple Rows

In [180]:
query = """
INSERT INTO Customers (CustomerName, ContactName, Address, City, PostalCode, Country)
VALUES
('Cardinal', 'Tom B. Erichsen', 'Skagen 21', 'Stavanger', '4006', 'Norway'),
('Greasy Burger', 'Per Olsen', 'Gateveien 15', 'Sandnes', '4306', 'Norway'),
('Tasty Tee', 'Finn Egan', 'Streetroad 19B', 'Liverpool', 'L1 0AA', 'UK');
"""
print_query_result(query)

Empty DataFrame
Columns: []
Index: []

## SQL NULL Values
## IS NULL

In [181]:
query = """
SELECT CustomerName, ContactName, Address
FROM Customers
WHERE Address IS NULL;
"""
print_query_result(query)

Empty DataFrame
Columns: []
Index: []

## IS NOT NULL Operator

In [182]:
query = """
SELECT CustomerName, ContactName, Address
FROM Customers
WHERE Address IS NOT NULL;
"""
print_query_result(query)

                                     0                   1  \
0                  Alfreds Futterkiste        Maria Anders
1   Ana Trujillo Emparedados y helados        Ana Trujillo
2              Antonio Moreno Taquería      Antonio Moreno
3                      Around the Horn        Thomas Hardy
4                   Berglunds snabbköp  Christina Berglund
..                                 ...                 ...
86                      Wartian Herkku    Pirkko Koskitalo
87              Wellington Importadora       Paula Parente
88                White Clover Markets      Karl Jablonski
89                         Wilman Kala     Matti Karttunen
90                              Wolski             Zbyszek

                                2
0                   Obere Str. 57
1   Avda. de la Constitución 2222
2                  Mataderos 2312
3                 120 Hanover Sq.
4                  Berguvsvägen 8
..                            ...
86                    Torikatu 38
87             Rua do Mercado, 12
88    305 - 14th Ave. S. Suite 3B
89                  Keskuskatu 45
90                ul. Filtrowa 68

[91 rows x 3 columns]

## SQL UPDATE Statement

In [183]:
query = """
UPDATE Customers
SET ContactName = 'Alfred Schmidt', City= 'Frankfurt'
WHERE CustomerID = 1;
"""
print_query_result(query)

Empty DataFrame
Columns: []
Index: []

## UPDATE Multiple Records

In [184]:
query = """
UPDATE Customers
SET ContactName='Juan'
WHERE Country='Mexico';
"""
print_query_result(query)

Empty DataFrame
Columns: []
Index: []

## Update Warning!

In [185]:
query = """
UPDATE Customers
SET ContactName='Juan';
"""
print_query_result(query)

Empty DataFrame
Columns: []
Index: []

## SQL DELETE Statement

In [186]:
query = """
DELETE FROM Customers WHERE CustomerName='Alfreds Futterkiste';
"""
print_query_result(query)

Empty DataFrame
Columns: []
Index: []

## Delete All Records

In [187]:
query = """
DELETE FROM Customers;
"""
print_query_result(query)

Empty DataFrame
Columns: []
Index: []

## Delete a Table -> DROP !

In [188]:
query = """
DROP TABLE Customers;
"""
print_query_result(query)

Empty DataFrame
Columns: []
Index: []

## SQL SELECT TOP Clause

In [189]:
# Customers table 다시 넣어주자 ...
df = pd.read_csv('Customers.csv')
conn = sqlite3.connect('database.db')
df.to_sql("Customers", conn, if_exists='replace', index=False)
conn.close()

In [190]:
# SELECT TOP 3 * FROM Customers;
# sqlite에서는 TOP 3가 없다 !
# LIMIT도 따로 왜 있지 ?
query = """
SELECT * FROM Customers LIMIT 3;
"""
print_query_result(query)

   0                                   1               2  \
0  1                 Alfreds Futterkiste    Maria Anders
1  2  Ana Trujillo Emparedados y helados    Ana Trujillo
2  3             Antonio Moreno Taquería  Antonio Moreno

                               3            4      5        6
0                  Obere Str. 57       Berlin  12209  Germany
1  Avda. de la Constitución 2222  México D.F.  05021   Mexico
2                 Mataderos 2312  México D.F.  05023   Mexico

## LIMIT

In [191]:
query = """
SELECT * FROM Customers
LIMIT 3;
"""
print_query_result(query)

   0                                   1               2  \
0  1                 Alfreds Futterkiste    Maria Anders
1  2  Ana Trujillo Emparedados y helados    Ana Trujillo
2  3             Antonio Moreno Taquería  Antonio Moreno

                               3            4      5        6
0                  Obere Str. 57       Berlin  12209  Germany
1  Avda. de la Constitución 2222  México D.F.  05021   Mexico
2                 Mataderos 2312  México D.F.  05023   Mexico

## FETCH FIRST

In [192]:
"""
# 이것도 안된다 !
SELECT * FROM Customers
FETCH FIRST 3 ROWS ONLY;
"""

query = """
SELECT * FROM Customers LIMIT 3;
"""
print_query_result(query)

   0                                   1               2  \
0  1                 Alfreds Futterkiste    Maria Anders
1  2  Ana Trujillo Emparedados y helados    Ana Trujillo
2  3             Antonio Moreno Taquería  Antonio Moreno

                               3            4      5        6
0                  Obere Str. 57       Berlin  12209  Germany
1  Avda. de la Constitución 2222  México D.F.  05021   Mexico
2                 Mataderos 2312  México D.F.  05023   Mexico

## SQL TOP PERCENT Example

In [193]:

# 이것도 안된다 !!
"""
SELECT TOP 50 PERCENT * FROM Customers;
"""
conn = sqlite3.connect('database.db')
cur = conn.cursor()
cur.execute("SELECT COUNT(*) FROM Customers;")
total_row_num = cur.fetchone()[0]
print(f'total_row_num: {total_row_num}')
half = total_row_num//2
query = f"""
SELECT * FROM Customers
LIMIT {half};
"""
print_query_result(query)
conn.close()

total_row_num: 91
     0                                     1                   2  \
0    1                   Alfreds Futterkiste        Maria Anders
1    2    Ana Trujillo Emparedados y helados        Ana Trujillo
2    3               Antonio Moreno Taquería      Antonio Moreno
3    4                       Around the Horn        Thomas Hardy
4    5                    Berglunds snabbköp  Christina Berglund
5    6               Blauer See Delikatessen          Hanna Moos
6    7                  Blondel père et fils  Frédérique Citeaux
7    8             Bólido Comidas preparadas       Martín Sommer
8    9                              Bon app'   Laurence Lebihans
9   10                Bottom-Dollar Marketse   Elizabeth Lincoln
10  11                         B's Beverages   Victoria Ashworth
11  12            Cactus Comidas para llevar    Patricio Simpson
12  13            Centro comercial Moctezuma     Francisco Chang
13  14                     Chop-suey Chinese           Yang Wang
14  15                      Comércio Mineiro        Pedro Afonso
15  16                 Consolidated Holdings     Elizabeth Brown
16  17             Drachenblut Delikatessend        Sven Ottlieb
17  18                       Du monde entier      Janine Labrune
18  19                    Eastern Connection           Ann Devon
19  20                          Ernst Handel       Roland Mendel
20  21                    Familia Arquibaldo           Aria Cruz
21  22  FISSA Fabrica Inter. Salchichas S.A.          Diego Roel
22  23                     Folies gourmandes       Martine Rancé
23  24                        Folk och fä HB       Maria Larsson
24  25                        Frankenversand       Peter Franken
25  26                   France restauration      Carine Schmitt
26  27                        Franchi S.p.A.       Paolo Accorti
27  28        Furia Bacalhau e Frutos do Mar     Lino Rodriguez
28  29                Galería del gastrónomo    Eduardo Saavedra
29  30                   Godos Cocina Típica   José Pedro Freyre
30  31                   Gourmet Lanchonetes       André Fonseca
31  32               Great Lakes Food Market       Howard Snyder
32  33                  GROSELLA-Restaurante      Manuel Pereira
33  34                         Hanari Carnes        Mario Pontes
34  35                      HILARIÓN-Abastos    Carlos Hernández
35  36            Hungry Coyote Import Store       Yoshi Latimer
36  37          Hungry Owl All-Night Grocers    Patricia McKenna
37  38                        Island Trading       Helen Bennett
38  39                       Königlich Essen       Philip Cramer
39  40                  La corne d'abondance       Daniel Tonini
40  41                      La maison d'Asie      Annette Roulet
41  42         Laughing Bacchus Wine Cellars     Yoshi Tannamuri
42  43                  Lazy K Kountry Store          John Steel
43  44                   Lehmanns Marktstand      Renate Messner
44  45                     Let's Stop N Shop        Jaime Yorres

                                             3                4          5  \
0                                Obere Str. 57           Berlin      12209
1                Avda. de la Constitución 2222      México D.F.      05021
2                               Mataderos 2312      México D.F.      05023
3                              120 Hanover Sq.           London    WA1 1DP
4                               Berguvsvägen 8            Luleå   S-958 22
5                               Forsterstr. 57         Mannheim      68306
6                             24, place Kléber       Strasbourg      67000
7                               C/ Araquil, 67           Madrid      28023
8                         12, rue des Bouchers        Marseille      13008
9                           23 Tsawassen Blvd.        Tsawassen    T2F 8M4
10                           Fauntleroy Circus           London    EC2 5NT
11                                 Cerrito 333     Buenos Aires       1010
12                     Sierras de Granada 9993      México D.F.      05022
13                                Hauptstr. 29             Bern       3012
14                        Av. dos Lusíadas, 23        São Paulo  05432-043
15                Berkeley Gardens 12 Brewery            London    WX1 6LT
16                                Walserweg 21           Aachen      52066
17                67, rue des Cinquante Otages           Nantes      44000
18                              35 King George           London    WX3 6FW
19                                Kirchgasse 6             Graz       8010
20                                Rua Orós, 92        São Paulo  05442-030
21                          C/ Moralzarzal, 86           Madrid      28034
22                    184, chaussée de Tournai            Lille      59000
23                                Åkergatan 24           Bräcke   S-844 67
24                           Berliner Platz 43          München      80805
25                              54, rue Royale           Nantes      44000
26                         Via Monte Bianco 34           Torino      10100
27                      Jardim das rosas n. 32           Lisboa       1675
28                      Rambla de Cataluña, 23        Barcelona      08022
29                               C/ Romero, 33          Sevilla      41101
30                             Av. Brasil, 442         Campinas  04876-786
31                            2732 Baker Blvd.           Eugene      97403
32                   5ª Ave. Los Palos Grandes          Caracas       1081
33                             Rua do Paço, 67   Rio de Janeiro  05454-876
34  Carrera 22 con Ave. Carlos Soublette #8-35    San Cristóbal       5022
35              City Center Plaza 516 Main St.            Elgin      97827
36                            8 Johnstown Road             Cork       None
37                   Garden House Crowther Way            Cowes   PO31 7PJ
38                               Maubelstr. 90      Brandenburg      14776
39                      67, avenue de l'Europe       Versailles      78000
40                       1 rue Alsace-Lorraine         Toulouse      31000
41                                1900 Oak St.        Vancouver    V3F 2K1
42                        12 Orchestra Terrace      Walla Walla      99362
43                                Magazinweg 7  Frankfurt a.M.       60528
44                         87 Polk St. Suite 5    San Francisco      94117

              6
0       Germany
1        Mexico
2        Mexico
3            UK
4        Sweden
5       Germany
6        France
7         Spain
8        France
9        Canada
10           UK
11    Argentina
12       Mexico
13  Switzerland
14       Brazil
15           UK
16      Germany
17       France
18           UK
19      Austria
20       Brazil
21        Spain
22       France
23       Sweden
24      Germany
25       France
26        Italy
27     Portugal
28        Spain
29        Spain
30       Brazil
31          USA
32    Venezuela
33       Brazil
34    Venezuela
35          USA
36      Ireland
37           UK
38      Germany
39       France
40       France
41       Canada
42          USA
43      Germany
44          USA

## ADD a WHERE CLAUSE

In [194]:
"""
SELECT TOP 3 * FROM Customers
WHERE Country='Germany';
"""

query = """
SELECT * FROM Customers
WHERE Country = 'Germany'
LIMIT 3;
"""
print_query_result(query)

    0                          1             2               3         4  \
0   1        Alfreds Futterkiste  Maria Anders   Obere Str. 57    Berlin
1   6    Blauer See Delikatessen    Hanna Moos  Forsterstr. 57  Mannheim
2  17  Drachenblut Delikatessend  Sven Ottlieb    Walserweg 21    Aachen

       5        6
0  12209  Germany
1  68306  Germany
2  52066  Germany

In [195]:
"""
SELECT * FROM Customers
WHERE Country='Germany'
LIMIT 3;
"""
query = """
SELECT * FROM Customers
WHERE Country='Germany'
LIMIT 3;
"""
print_query_result(query)

    0                          1             2               3         4  \
0   1        Alfreds Futterkiste  Maria Anders   Obere Str. 57    Berlin
1   6    Blauer See Delikatessen    Hanna Moos  Forsterstr. 57  Mannheim
2  17  Drachenblut Delikatessend  Sven Ottlieb    Walserweg 21    Aachen

       5        6
0  12209  Germany
1  68306  Germany
2  52066  Germany

In [196]:
"""
SELECT * FROM Customers
WHERE Country='Germany'
FETCH FIRST 3 ROWS ONLY;
"""
query = """
SELECT * FROM Customers
WHERE Country = "Germany"
LIMIT 3;
"""
print_query_result(query)

    0                          1             2               3         4  \
0   1        Alfreds Futterkiste  Maria Anders   Obere Str. 57    Berlin
1   6    Blauer See Delikatessen    Hanna Moos  Forsterstr. 57  Mannheim
2  17  Drachenblut Delikatessend  Sven Ottlieb    Walserweg 21    Aachen

       5        6
0  12209  Germany
1  68306  Germany
2  52066  Germany

## ADD the ORDER BY Keyword

In [197]:
"""
SELECT TOP 3 * FROM Customers
ORDER BY CustomerName DESC;
"""
query = """
SELECT * FROM Customers
ORDER BY CustomerName DESC
LIMIT 3;
"""
print_query_result(query)

    0                     1                2                            3  \
0  91                Wolski          Zbyszek              ul. Filtrowa 68
1  90           Wilman Kala  Matti Karttunen                Keskuskatu 45
2  89  White Clover Markets   Karl Jablonski  305 - 14th Ave. S. Suite 3B

          4       5        6
0     Walla  01-012     None
1  Helsinki   21240  Finland
2   Seattle   98128      USA

In [198]:
query = """

"""
print_query_result(query)

Empty DataFrame
Columns: []
Index: []

In [199]:
query = """
SELECT * FROM Customers
ORDER BY CustomerName DESC
LIMIT 3;
"""
print_query_result(query)

    0                     1                2                            3  \
0  91                Wolski          Zbyszek              ul. Filtrowa 68
1  90           Wilman Kala  Matti Karttunen                Keskuskatu 45
2  89  White Clover Markets   Karl Jablonski  305 - 14th Ave. S. Suite 3B

          4       5        6
0     Walla  01-012     None
1  Helsinki   21240  Finland
2   Seattle   98128      USA

In [200]:
"""
SELECT * FROM Customers
ORDER BY CustomerName DESC
FETCH FIRST 3 ROWS ONLY;
"""
query = """

SELECT * FROM Customers
ORDER BY CustomerName DESC
LIMIT 3;
"""
print_query_result(query)

    0                     1                2                            3  \
0  91                Wolski          Zbyszek              ul. Filtrowa 68
1  90           Wilman Kala  Matti Karttunen                Keskuskatu 45
2  89  White Clover Markets   Karl Jablonski  305 - 14th Ave. S. Suite 3B

          4       5        6
0     Walla  01-012     None
1  Helsinki   21240  Finland
2   Seattle   98128      USA

## SQL Aggregate Functions

## SQL MIN() and MAX() Functions

In [201]:
query = """
SELECT MIN(Price)
FROM Products;
"""
print_query_result(query)

     0
0  2.5

In [202]:
query = """
SELECT MAX(Price)
FROM Products;
"""
print_query_result(query)

       0
0  263.5

## Set Column Name (Alias)

In [203]:
query = """
SELECT MIN(Price) AS SmallestPrice
FROM Products;
"""
print_query_result(query)

     0
0  2.5

## Use MIN() with GROUP BY

In [204]:
query = """
SELECT MIN(Price) AS SmallestPrice, CategoryID
FROM Products
GROUP BY CategoryID;
"""
print_query_result(query)

       0  1
0   4.50  1
1  10.00  2
2   9.20  3
3   2.50  4
4   7.00  5
5   7.45  6
6  10.00  7
7   6.00  8

## SQL COUNT() Function

In [205]:
query = """
SELECT COUNT(*)
FROM Products;
"""
print_query_result(query)

    0
0  77

## Specify Column

In [206]:
query = """
SELECT COUNT(ProductName)
FROM Products;
"""
print_query_result(query)

    0
0  77

## Add a WHERE Clause

In [207]:
query = """
SELECT COUNT(ProductID)
FROM Products
WHERE Price > 20;
"""
print_query_result(query)

    0
0  37

## Ignore Duplicates

In [208]:
query = """
SELECT COUNT(DISTINCT Price)
FROM Products;
"""
print_query_result(query)

    0
0  62

## Use an Alias

In [209]:
query = """
SELECT COUNT(*) AS [Number of records]
FROM Products;
"""
print_query_result(query)

    0
0  77

## Use COUNT() with GROUP BY

In [210]:
query = """
SELECT COUNT(*) AS [Number of records], CategoryID
FROM Products
GROUP BY CategoryID;
"""
print_query_result(query)

    0  1
0  12  1
1  12  2
2  13  3
3  10  4
4   7  5
5   6  6
6   5  7
7  12  8

## SQL SUM() Function

In [211]:
query = """
SELECT SUM(Quantity)
FROM OrderDetails;
"""
print_query_result(query)

       0
0  12743

## Add a WHERE Clause

In [212]:
query = """
SELECT SUM(Quantity)
FROM OrderDetails
WHERE ProductId = 11;
"""
print_query_result(query)

     0
0  182

## Use an Alias

In [213]:
query = """
SELECT SUM(Quantity) AS total
FROM OrderDetails;
"""
print_query_result(query)

       0
0  12743

# Use SUM() with GROUP BY

In [214]:
query = """
SELECT OrderID, SUM(Quantity) AS [Total Quantity]
FROM OrderDetails
GROUP BY OrderID;
"""
print_query_result(query)

         0    1
0    10248   27
1    10249   49
2    10250   60
3    10251   41
4    10252  105
..     ...  ...
191  10439   67
192  10440  208
193  10441   50
194  10442  170
195  10443   18

[196 rows x 2 columns]

## SUM() With an Expression

In [215]:
query = """
SELECT SUM(Quantity * 10)
FROM OrderDetails;
"""
print_query_result(query)

        0
0  127430

In [216]:
query = """
SELECT SUM(Price * Quantity)
FROM OrderDetails
LEFT JOIN Products ON OrderDetails.ProductID = Products.ProductID;
"""
print_query_result(query)

           0
0  386424.23

## SQL AVG() Function

In [217]:
query = """
SELECT AVG(Price)
FROM Products;
"""
print_query_result(query)

           0
0  28.866364

## Add a WHERE Clause

In [218]:
query = """
SELECT AVG(Price)
FROM Products
WHERE CategoryID = 1;
"""
print_query_result(query)

           0
0  37.979167

## Use an Alias

In [219]:
query = """
SELECT AVG(Price) AS [average price]
FROM Products;
"""
print_query_result(query)

           0
0  28.866364

## Higher Than Average

In [220]:
query = """
SELECT * FROM Products
WHERE price > (SELECT AVG(price) FROM Products);
"""
print_query_result(query)

     0                                1   2  3                     4       5
0    7  Uncle Bob's Organic Dried Pears   3  7       12 - 1 lb pkgs.   30.00
1    8       Northwoods Cranberry Sauce   3  2       12 - 12 oz jars   40.00
2    9                  Mishi Kobe Niku   4  6      18 - 500 g pkgs.   97.00
3   10                            Ikura   4  8      12 - 200 ml jars   31.00
4   12        Queso Manchego La Pastora   5  4      10 - 500 g pkgs.   38.00
5   17                     Alice Mutton   7  6        20 - 1 kg tins   39.00
6   18                 Carnarvon Tigers   7  8            16 kg pkg.   62.50
7   20           Sir Rodney's Marmalade   8  3         30 gift boxes   81.00
8   26              Gumbär Gummibärchen  11  3      100 - 250 g bags   31.23
9   27               Schoggi Schokolade  11  3    100 - 100 g pieces   43.90
10  28                Rössle Sauerkraut  12  7       25 - 825 g cans   45.60
11  29          Thüringer Rostbratwurst  12  6  50 bags x 30 sausgs.  123.79
12  32               Mascarpone Fabioli  14  4      24 - 200 g pkgs.   32.00
13  38                    Côte de Blaye  18  1    12 - 75 cl bottles  263.50
14  43                      Ipoh Coffee  20  1       16 - 500 g tins   46.00
15  51            Manjimup Dried Apples  24  7      50 - 300 g pkgs.   53.00
16  53                    Perth Pasties  24  6             48 pieces   32.80
17  56           Gnocchi di nonna Alice  26  5      24 - 250 g pkgs.   38.00
18  59             Raclette Courdavault  28  4             5 kg pkg.   55.00
19  60                Camembert Pierrot  28  4     15 - 300 g rounds   34.00
20  62                   Tarte au sucre  29  3               48 pies   49.30
21  63                     Vegie-spread   7  2       15 - 625 g jars   43.90
22  64        Wimmers gute Semmelknödel  12  5    20 bags x 4 pieces   33.25
23  69                 Gudbrandsdalsost  15  4            10 kg pkg.   36.00
24  72           Mozzarella di Giovanni  14  4      24 - 200 g pkgs.   34.80

# Use AVG() with GROUP BY

In [221]:
query = """
SELECT AVG(Price) AS AveragePrice, CategoryID
FROM Products
GROUP BY CategoryID;
"""
print_query_result(query)

           0  1
0  37.979167  1
1  23.062500  2
2  25.160000  3
3  28.730000  4
4  20.250000  5
5  54.006667  6
6  32.370000  7
7  20.682500  8

# SQL LIKE Operator

In [222]:
query = """
SELECT * FROM Customers
WHERE CustomerName LIKE 'a%';
"""
print_query_result(query)

   0                                   1               2  \
0  1                 Alfreds Futterkiste    Maria Anders
1  2  Ana Trujillo Emparedados y helados    Ana Trujillo
2  3             Antonio Moreno Taquería  Antonio Moreno
3  4                     Around the Horn    Thomas Hardy

                               3            4        5        6
0                  Obere Str. 57       Berlin    12209  Germany
1  Avda. de la Constitución 2222  México D.F.    05021   Mexico
2                 Mataderos 2312  México D.F.    05023   Mexico
3                120 Hanover Sq.       London  WA1 1DP       UK

## The _ Wildcard

In [223]:
query = """
SELECT * FROM Customers
WHERE city LIKE 'L_nd__';
"""
print_query_result(query)

    0                      1                   2  \
0   4        Around the Horn        Thomas Hardy
1  11          B's Beverages   Victoria Ashworth
2  16  Consolidated Holdings     Elizabeth Brown
3  19     Eastern Connection           Ann Devon
4  53            North/South      Simon Crowther
5  72     Seven Seas Imports          Hari Kumar
6  75  Split Rail Beer & Ale  Art Braunschweiger

                              3       4         5    6
0               120 Hanover Sq.  London   WA1 1DP   UK
1             Fauntleroy Circus  London   EC2 5NT   UK
2  Berkeley Gardens 12 Brewery   London   WX1 6LT   UK
3                35 King George  London   WX3 6FW   UK
4  South House 300 Queensbridge  London   SW7 1RZ   UK
5               90 Wadhurst Rd.  London  OX15 4NB   UK
6                  P.O. Box 555  Lander     82520  USA

# The % Wildcard

In [224]:
query = """
SELECT * FROM Customers
WHERE city LIKE '%L%';
"""
print_query_result(query)

     0                                  1                    2  \
0    1                Alfreds Futterkiste         Maria Anders
1    4                    Around the Horn         Thomas Hardy
2    5                 Berglunds snabbköp   Christina Berglund
3    9                           Bon app'    Laurence Lebihans
4   11                      B's Beverages    Victoria Ashworth
5   15                   Comércio Mineiro         Pedro Afonso
6   16              Consolidated Holdings      Elizabeth Brown
7   19                 Eastern Connection            Ann Devon
8   21                 Familia Arquibaldo            Aria Cruz
9   23                  Folies gourmandes        Martine Rancé
10  28     Furia Bacalhau e Frutos do Mar      Lino Rodriguez
11  29             Galería del gastrónomo     Eduardo Saavedra
12  30                Godos Cocina Típica    José Pedro Freyre
13  35                   HILARIÓN-Abastos     Carlos Hernández
14  36         Hungry Coyote Import Store        Yoshi Latimer
15  40               La corne d'abondance        Daniel Tonini
16  41                   La maison d'Asie       Annette Roulet
17  43               Lazy K Kountry Store           John Steel
18  48           Lonesome Pine Restaurant          Fran Wilson
19  50                       Maison Dewey      Catherine Dewey
20  51                     Mère Paillarde       Jean Fresnière
21  52             Morgenstern Gesundkost      Alexander Feuer
22  53                        North/South       Simon Crowther
23  56                 Ottilies Käseladen  Henriette Pfalzheim
24  59                   Piccolo und mehr          Georg Pipps
25  60            Princesa Isabel Vinhoss     Isabel de Castro
26  62                      Queen Cozinha       Lúcia Carvalho
27  63                         QUICK-Stop          Horst Kloss
28  65         Rattlesnake Canyon Grocery         Paula Wilson
29  66                 Reggiani Caseifici      Maurizio Moroni
30  72                 Seven Seas Imports           Hari Kumar
31  75              Split Rail Beer & Ale   Art Braunschweiger
32  76                   Suprêmes délices     Pascale Cartrain
33  77                     The Big Cheese            Liz Nixon
34  81             Tradição Hipermercados    Anabela Domingues
35  82  Trail's Head Gourmet Provisioners       Helvetius Nagy
36  84               Victuailles en stock         Mary Saveley
37  87                     Wartian Herkku     Pirkko Koskitalo
38  89               White Clover Markets       Karl Jablonski
39  90                        Wilman Kala      Matti Karttunen
40  91                             Wolski              Zbyszek

                                             3              4          5  \
0                                Obere Str. 57         Berlin      12209
1                              120 Hanover Sq.         London    WA1 1DP
2                               Berguvsvägen 8          Luleå   S-958 22
3                         12, rue des Bouchers      Marseille      13008
4                            Fauntleroy Circus         London    EC2 5NT
5                         Av. dos Lusíadas, 23      São Paulo  05432-043
6                 Berkeley Gardens 12 Brewery          London    WX1 6LT
7                               35 King George         London    WX3 6FW
8                                 Rua Orós, 92      São Paulo  05442-030
9                     184, chaussée de Tournai          Lille      59000
10                      Jardim das rosas n. 32         Lisboa       1675
11                      Rambla de Cataluña, 23      Barcelona      08022
12                               C/ Romero, 33        Sevilla      41101
13  Carrera 22 con Ave. Carlos Soublette #8-35  San Cristóbal       5022
14              City Center Plaza 516 Main St.          Elgin      97827
15                      67, avenue de l'Europe     Versailles      78000
16                       1 rue Alsace-Lorraine       Toulouse      31000
17                        12 Orchestra Terrace    Walla Walla      99362
18                          89 Chiaroscuro Rd.       Portland      97219
19                         Rue Joseph-Bens 532      Bruxelles     B-1180
20                          43 rue St. Laurent       Montréal    H1J 1C3
21                                 Heerstr. 22        Leipzig      04179
22                South House 300 Queensbridge         London    SW7 1RZ
23                          Mehrheimerstr. 369           Köln      50739
24                                 Geislweg 14       Salzburg       5020
25                      Estrada da saúde n. 58         Lisboa       1756
26                   Alameda dos Canàrios, 891      São Paulo  05487-020
27                            Taucherstraße 10      Cunewalde      01307
28                             2817 Milton Dr.    Albuquerque      87110
29                      Strada Provinciale 124  Reggio Emilia      42100
30                             90 Wadhurst Rd.         London   OX15 4NB
31                                P.O. Box 555         Lander      82520
32                        Boulevard Tirou, 255      Charleroi     B-6000
33                    89 Jefferson Way Suite 2       Portland      97201
34                     Av. Inês de Castro, 414      São Paulo  05634-030
35                           722 DaVinci Blvd.       Kirkland      98034
36                          2, rue du Commerce           Lyon      69004
37                                 Torikatu 38           Oulu      90110
38                 305 - 14th Ave. S. Suite 3B        Seattle      98128
39                               Keskuskatu 45       Helsinki      21240
40                             ul. Filtrowa 68          Walla     01-012

            6
0     Germany
1          UK
2      Sweden
3      France
4          UK
5      Brazil
6          UK
7          UK
8      Brazil
9      France
10   Portugal
11      Spain
12      Spain
13  Venezuela
14        USA
15     France
16     France
17        USA
18        USA
19    Belgium
20     Canada
21    Germany
22         UK
23    Germany
24    Austria
25   Portugal
26     Brazil
27    Germany
28        USA
29      Italy
30         UK
31        USA
32    Belgium
33        USA
34     Brazil
35        USA
36     France
37    Finland
38        USA
39    Finland
40       None

# Starts With

In [225]:
query = """
SELECT * FROM Customers
WHERE CustomerName LIKE 'La%';
"""
print_query_result(query)

    0                              1                2                       3  \
0  40           La corne d'abondance    Daniel Tonini  67, avenue de l'Europe
1  41               La maison d'Asie   Annette Roulet   1 rue Alsace-Lorraine
2  42  Laughing Bacchus Wine Cellars  Yoshi Tannamuri            1900 Oak St.
3  43           Lazy K Kountry Store       John Steel    12 Orchestra Terrace

             4        5       6
0   Versailles    78000  France
1     Toulouse    31000  France
2    Vancouver  V3F 2K1  Canada
3  Walla Walla    99362     USA

In [226]:
query = """
SELECT * FROM Customers
WHERE CustomerName LIKE 'a%' OR CustomerName LIKE 'b%';
"""
print_query_result(query)

     0                                   1                   2  \
0    1                 Alfreds Futterkiste        Maria Anders
1    2  Ana Trujillo Emparedados y helados        Ana Trujillo
2    3             Antonio Moreno Taquería      Antonio Moreno
3    4                     Around the Horn        Thomas Hardy
4    5                  Berglunds snabbköp  Christina Berglund
5    6             Blauer See Delikatessen          Hanna Moos
6    7                Blondel père et fils  Frédérique Citeaux
7    8           Bólido Comidas preparadas       Martín Sommer
8    9                            Bon app'   Laurence Lebihans
9   10              Bottom-Dollar Marketse   Elizabeth Lincoln
10  11                       B's Beverages   Victoria Ashworth

                                3            4         5        6
0                   Obere Str. 57       Berlin     12209  Germany
1   Avda. de la Constitución 2222  México D.F.     05021   Mexico
2                  Mataderos 2312  México D.F.     05023   Mexico
3                 120 Hanover Sq.       London   WA1 1DP       UK
4                  Berguvsvägen 8        Luleå  S-958 22   Sweden
5                  Forsterstr. 57     Mannheim     68306  Germany
6                24, place Kléber   Strasbourg     67000   France
7                  C/ Araquil, 67       Madrid     28023    Spain
8            12, rue des Bouchers    Marseille     13008   France
9              23 Tsawassen Blvd.    Tsawassen   T2F 8M4   Canada
10              Fauntleroy Circus       London   EC2 5NT       UK

# Ends With

In [227]:
query = """
SELECT * FROM Customers
WHERE CustomerName LIKE '%a';
"""
print_query_result(query)

    0                           1                  2  \
0   3     Antonio Moreno Taquería     Antonio Moreno
1  13  Centro comercial Moctezuma    Francisco Chang
2  30         Godos Cocina Típica  José Pedro Freyre
3  61                 Que Delícia   Bernardo Batista
4  62               Queen Cozinha     Lúcia Carvalho
5  88      Wellington Importadora      Paula Parente
6  90                 Wilman Kala    Matti Karttunen

                           3               4          5        6
0             Mataderos 2312     México D.F.      05023   Mexico
1    Sierras de Granada 9993     México D.F.      05022   Mexico
2              C/ Romero, 33         Sevilla      41101    Spain
3    Rua da Panificadora, 12  Rio de Janeiro  02389-673   Brazil
4  Alameda dos Canàrios, 891       São Paulo  05487-020   Brazil
5         Rua do Mercado, 12         Resende  08737-363   Brazil
6              Keskuskatu 45        Helsinki      21240  Finland

In [228]:
query = """
SELECT * FROM Customers
WHERE CustomerName LIKE 'b%s';
"""
print_query_result(query)

    0                          1                   2                  3  \
0   7       Blondel père et fils  Frédérique Citeaux   24, place Kléber
1   8  Bólido Comidas preparadas       Martín Sommer     C/ Araquil, 67
2  11              B's Beverages   Victoria Ashworth  Fauntleroy Circus

            4        5       6
0  Strasbourg    67000  France
1      Madrid    28023   Spain
2      London  EC2 5NT      UK

## Contains

In [229]:
query = """
SELECT * FROM Customers
WHERE CustomerName LIKE '%or%';
"""
print_query_result(query)

     0                           1                     2  \
0    3     Antonio Moreno Taquería        Antonio Moreno
1    4             Around the Horn          Thomas Hardy
2   36  Hungry Coyote Import Store         Yoshi Latimer
3   40        La corne d'abondance         Daniel Tonini
4   43        Lazy K Kountry Store            John Steel
5   52      Morgenstern Gesundkost       Alexander Feuer
6   53                 North/South        Simon Crowther
7   55      Old World Delicatessen         Rene Phillips
8   72          Seven Seas Imports            Hari Kumar
9   80         Tortuga Restaurante  Miguel Angel Paolino
10  88      Wellington Importadora         Paula Parente

                                 3            4          5        6
0                   Mataderos 2312  México D.F.      05023   Mexico
1                  120 Hanover Sq.       London    WA1 1DP       UK
2   City Center Plaza 516 Main St.        Elgin      97827      USA
3           67, avenue de l'Europe   Versailles      78000   France
4             12 Orchestra Terrace  Walla Walla      99362      USA
5                      Heerstr. 22      Leipzig      04179  Germany
6     South House 300 Queensbridge       London    SW7 1RZ       UK
7                  2743 Bering St.    Anchorage      99508      USA
8                  90 Wadhurst Rd.       London   OX15 4NB       UK
9                 Avda. Azteca 123  México D.F.      05033   Mexico
10              Rua do Mercado, 12      Resende  08737-363   Brazil

## Combine Wildcards

In [230]:
query = """
SELECT * FROM Customers
WHERE CustomerName LIKE 'a__%';
"""
print_query_result(query)

   0                                   1               2  \
0  1                 Alfreds Futterkiste    Maria Anders
1  2  Ana Trujillo Emparedados y helados    Ana Trujillo
2  3             Antonio Moreno Taquería  Antonio Moreno
3  4                     Around the Horn    Thomas Hardy

                               3            4        5        6
0                  Obere Str. 57       Berlin    12209  Germany
1  Avda. de la Constitución 2222  México D.F.    05021   Mexico
2                 Mataderos 2312  México D.F.    05023   Mexico
3                120 Hanover Sq.       London  WA1 1DP       UK

In [231]:
query = """
SELECT * FROM Customers
WHERE CustomerName LIKE '_r%';
"""
print_query_result(query)

     0                                  1                  2  \
0    4                    Around the Horn       Thomas Hardy
1   17          Drachenblut Delikatessend       Sven Ottlieb
2   20                       Ernst Handel      Roland Mendel
3   25                     Frankenversand      Peter Franken
4   26                France restauration     Carine Schmitt
5   27                     Franchi S.p.A.      Paolo Accorti
6   32            Great Lakes Food Market      Howard Snyder
7   33               GROSELLA-Restaurante     Manuel Pereira
8   60            Princesa Isabel Vinhoss   Isabel de Castro
9   81             Tradição Hipermercados  Anabela Domingues
10  82  Trail's Head Gourmet Provisioners     Helvetius Nagy

                            3          4          5          6
0             120 Hanover Sq.     London    WA1 1DP         UK
1                Walserweg 21     Aachen      52066    Germany
2                Kirchgasse 6       Graz       8010    Austria
3           Berliner Platz 43    München      80805    Germany
4              54, rue Royale     Nantes      44000     France
5         Via Monte Bianco 34     Torino      10100      Italy
6            2732 Baker Blvd.     Eugene      97403        USA
7   5ª Ave. Los Palos Grandes    Caracas       1081  Venezuela
8      Estrada da saúde n. 58     Lisboa       1756   Portugal
9     Av. Inês de Castro, 414  São Paulo  05634-030     Brazil
10          722 DaVinci Blvd.   Kirkland      98034        USA

## Without Wildcard

In [232]:
query = """
SELECT * FROM Customers
WHERE Country LIKE 'Spain';
"""
print_query_result(query)

    0                                     1                  2  \
0   8             Bólido Comidas preparadas      Martín Sommer
1  22  FISSA Fabrica Inter. Salchichas S.A.         Diego Roel
2  29                Galería del gastrónomo   Eduardo Saavedra
3  30                   Godos Cocina Típica  José Pedro Freyre
4  69                      Romero y tomillo   Alejandra Camino

                        3          4      5      6
0          C/ Araquil, 67     Madrid  28023  Spain
1      C/ Moralzarzal, 86     Madrid  28034  Spain
2  Rambla de Cataluña, 23  Barcelona  08022  Spain
3           C/ Romero, 33    Sevilla  41101  Spain
4             Gran Vía, 1     Madrid  28001  Spain

## SQL Wildcard Characters

In [233]:
query = """
SELECT * FROM Customers
WHERE CustomerName LIKE 'a%';
"""
print_query_result(query)

   0                                   1               2  \
0  1                 Alfreds Futterkiste    Maria Anders
1  2  Ana Trujillo Emparedados y helados    Ana Trujillo
2  3             Antonio Moreno Taquería  Antonio Moreno
3  4                     Around the Horn    Thomas Hardy

                               3            4        5        6
0                  Obere Str. 57       Berlin    12209  Germany
1  Avda. de la Constitución 2222  México D.F.    05021   Mexico
2                 Mataderos 2312  México D.F.    05023   Mexico
3                120 Hanover Sq.       London  WA1 1DP       UK

# Using the % Wildcard

In [234]:
query = """
SELECT * FROM Customers
WHERE CustomerName LIKE '%es';
"""
print_query_result(query)

    0                    1                  2                         3  \
0  11        B's Beverages  Victoria Ashworth         Fauntleroy Circus
1  23    Folies gourmandes      Martine Rancé  184, chaussée de Tournai
2  31  Gourmet Lanchonetes      André Fonseca           Av. Brasil, 442
3  34        Hanari Carnes       Mario Pontes           Rua do Paço, 67
4  47     LINO-Delicateses   Felipe Izquierdo   Ave. 5 de Mayo Porlamar
5  76     Suprêmes délices   Pascale Cartrain      Boulevard Tirou, 255

                 4          5          6
0           London    EC2 5NT         UK
1            Lille      59000     France
2         Campinas  04876-786     Brazil
3   Rio de Janeiro  05454-876     Brazil
4  I. de Margarita       4980  Venezuela
5        Charleroi     B-6000    Belgium

In [235]:
query = """
SELECT * FROM Customers
WHERE CustomerName LIKE '%mer%';
"""
print_query_result(query)

    0                           1                  2  \
0  13  Centro comercial Moctezuma    Francisco Chang
1  46           LILA-Supermercado    Carlos González
2  69            Romero y tomillo   Alejandra Camino
3  81      Tradição Hipermercados  Anabela Domingues

                                                3             4          5  \
0                         Sierras de Granada 9993   México D.F.      05022
1  Carrera 52 con Ave. Bolívar #65-98 Llano Largo  Barquisimeto       3508
2                                     Gran Vía, 1        Madrid      28001
3                         Av. Inês de Castro, 414     São Paulo  05634-030

           6
0     Mexico
1  Venezuela
2      Spain
3     Brazil

# Using the _ Wildcard

In [236]:
query = """
SELECT * FROM Customers
WHERE City LIKE '_ondon';
"""
print_query_result(query)

    0                      1                  2                             3  \
0   4        Around the Horn       Thomas Hardy               120 Hanover Sq.
1  11          B's Beverages  Victoria Ashworth             Fauntleroy Circus
2  16  Consolidated Holdings    Elizabeth Brown  Berkeley Gardens 12 Brewery
3  19     Eastern Connection          Ann Devon                35 King George
4  53            North/South     Simon Crowther  South House 300 Queensbridge
5  72     Seven Seas Imports         Hari Kumar               90 Wadhurst Rd.

        4         5   6
0  London   WA1 1DP  UK
1  London   EC2 5NT  UK
2  London   WX1 6LT  UK
3  London   WX3 6FW  UK
4  London   SW7 1RZ  UK
5  London  OX15 4NB  UK

In [237]:
query = """
SELECT * FROM Customers
WHERE City LIKE 'L___on';
"""
print_query_result(query)

    0                      1                  2                             3  \
0   4        Around the Horn       Thomas Hardy               120 Hanover Sq.
1  11          B's Beverages  Victoria Ashworth             Fauntleroy Circus
2  16  Consolidated Holdings    Elizabeth Brown  Berkeley Gardens 12 Brewery
3  19     Eastern Connection          Ann Devon                35 King George
4  53            North/South     Simon Crowther  South House 300 Queensbridge
5  72     Seven Seas Imports         Hari Kumar               90 Wadhurst Rd.

        4         5   6
0  London   WA1 1DP  UK
1  London   EC2 5NT  UK
2  London   WX1 6LT  UK
3  London   WX3 6FW  UK
4  London   SW7 1RZ  UK
5  London  OX15 4NB  UK

## Using the [] Wildcard

In [238]:
query = """
SELECT * FROM Customers
WHERE CustomerName LIKE '[bsp]%';
"""
# sqlite는 [] 지원 안함 !
# 아래와 같이 변경
query = """
SELECT * FROM Customers
WHERE CustomerName LIKE 'b%'
OR CustomerName LIKE 's%'
OR CustomerName LIKE 'p%';
"""
print_query_result(query)

     0                          1                    2  \
0    5         Berglunds snabbköp   Christina Berglund
1    6    Blauer See Delikatessen           Hanna Moos
2    7       Blondel père et fils   Frédérique Citeaux
3    8  Bólido Comidas preparadas        Martín Sommer
4    9                   Bon app'    Laurence Lebihans
5   10     Bottom-Dollar Marketse    Elizabeth Lincoln
6   11              B's Beverages    Victoria Ashworth
7   57          Paris spécialités       Marie Bertrand
8   58  Pericles Comidas clásicas  Guillermo Fernández
9   59           Piccolo und mehr          Georg Pipps
10  60    Princesa Isabel Vinhoss     Isabel de Castro
11  70              Santé Gourmet     Jonas Bergulfsen
12  71         Save-a-lot Markets       Jose Pavarotti
13  72         Seven Seas Imports           Hari Kumar
14  73              Simons bistro       Jytte Petersen
15  74       Spécialités du monde    Dominique Perrier
16  75      Split Rail Beer & Ale   Art Braunschweiger
17  76           Suprêmes délices     Pascale Cartrain

                           3            4         5         6
0             Berguvsvägen 8        Luleå  S-958 22    Sweden
1             Forsterstr. 57     Mannheim     68306   Germany
2           24, place Kléber   Strasbourg     67000    France
3             C/ Araquil, 67       Madrid     28023     Spain
4       12, rue des Bouchers    Marseille     13008    France
5         23 Tsawassen Blvd.    Tsawassen   T2F 8M4    Canada
6          Fauntleroy Circus       London   EC2 5NT        UK
7    265, boulevard Charonne        Paris     75012    France
8   Calle Dr. Jorge Cash 321  México D.F.     05033    Mexico
9                Geislweg 14     Salzburg      5020   Austria
10    Estrada da saúde n. 58       Lisboa      1756  Portugal
11    Erling Skakkes gate 78      Stavern      4110    Norway
12           187 Suffolk Ln.        Boise     83720       USA
13           90 Wadhurst Rd.       London  OX15 4NB        UK
14              Vinbæltet 34    København      1734   Denmark
15         25, rue Lauriston        Paris     75016    France
16              P.O. Box 555       Lander     82520       USA
17      Boulevard Tirou, 255    Charleroi    B-6000   Belgium

## Using the - Wildcard

In [239]:
query = """
SELECT * FROM Customers
WHERE CustomerName LIKE '[a-f]%';
"""
# 얘도 아래와 같이 변경
query = """
SELECT * FROM Customers
WHERE CustomerName LIKE 'a%' 
OR CustomerName LIKE 'b%' 
OR CustomerName LIKE 'c%' 
OR CustomerName LIKE 'd%' 
OR CustomerName LIKE 'e%' 
OR CustomerName LIKE 'f%';
"""
print_query_result(query)

     0                                     1                   2  \
0    1                   Alfreds Futterkiste        Maria Anders
1    2    Ana Trujillo Emparedados y helados        Ana Trujillo
2    3               Antonio Moreno Taquería      Antonio Moreno
3    4                       Around the Horn        Thomas Hardy
4    5                    Berglunds snabbköp  Christina Berglund
5    6               Blauer See Delikatessen          Hanna Moos
6    7                  Blondel père et fils  Frédérique Citeaux
7    8             Bólido Comidas preparadas       Martín Sommer
8    9                              Bon app'   Laurence Lebihans
9   10                Bottom-Dollar Marketse   Elizabeth Lincoln
10  11                         B's Beverages   Victoria Ashworth
11  12            Cactus Comidas para llevar    Patricio Simpson
12  13            Centro comercial Moctezuma     Francisco Chang
13  14                     Chop-suey Chinese           Yang Wang
14  15                      Comércio Mineiro        Pedro Afonso
15  16                 Consolidated Holdings     Elizabeth Brown
16  17             Drachenblut Delikatessend        Sven Ottlieb
17  18                       Du monde entier      Janine Labrune
18  19                    Eastern Connection           Ann Devon
19  20                          Ernst Handel       Roland Mendel
20  21                    Familia Arquibaldo           Aria Cruz
21  22  FISSA Fabrica Inter. Salchichas S.A.          Diego Roel
22  23                     Folies gourmandes       Martine Rancé
23  24                        Folk och fä HB       Maria Larsson
24  25                        Frankenversand       Peter Franken
25  26                   France restauration      Carine Schmitt
26  27                        Franchi S.p.A.       Paolo Accorti
27  28        Furia Bacalhau e Frutos do Mar     Lino Rodriguez
28  86                     Die Wandernde Kuh         Rita Müller

                                3             4          5            6
0                   Obere Str. 57        Berlin      12209      Germany
1   Avda. de la Constitución 2222   México D.F.      05021       Mexico
2                  Mataderos 2312   México D.F.      05023       Mexico
3                 120 Hanover Sq.        London    WA1 1DP           UK
4                  Berguvsvägen 8         Luleå   S-958 22       Sweden
5                  Forsterstr. 57      Mannheim      68306      Germany
6                24, place Kléber    Strasbourg      67000       France
7                  C/ Araquil, 67        Madrid      28023        Spain
8            12, rue des Bouchers     Marseille      13008       France
9              23 Tsawassen Blvd.     Tsawassen    T2F 8M4       Canada
10              Fauntleroy Circus        London    EC2 5NT           UK
11                    Cerrito 333  Buenos Aires       1010    Argentina
12        Sierras de Granada 9993   México D.F.      05022       Mexico
13                   Hauptstr. 29          Bern       3012  Switzerland
14           Av. dos Lusíadas, 23     São Paulo  05432-043       Brazil
15   Berkeley Gardens 12 Brewery         London    WX1 6LT           UK
16                   Walserweg 21        Aachen      52066      Germany
17   67, rue des Cinquante Otages        Nantes      44000       France
18                 35 King George        London    WX3 6FW           UK
19                   Kirchgasse 6          Graz       8010      Austria
20                   Rua Orós, 92     São Paulo  05442-030       Brazil
21             C/ Moralzarzal, 86        Madrid      28034        Spain
22       184, chaussée de Tournai         Lille      59000       France
23                   Åkergatan 24        Bräcke   S-844 67       Sweden
24              Berliner Platz 43       München      80805      Germany
25                 54, rue Royale        Nantes      44000       France
26            Via Monte Bianco 34        Torino      10100        Italy
27         Jardim das rosas n. 32        Lisboa       1675     Portugal
28              Adenauerallee 900     Stuttgart      70563      Germany

## Combine Wildcards

In [240]:
query = """
SELECT * FROM Customers
WHERE CustomerName LIKE 'a__%';
"""
print_query_result(query)

   0                                   1               2  \
0  1                 Alfreds Futterkiste    Maria Anders
1  2  Ana Trujillo Emparedados y helados    Ana Trujillo
2  3             Antonio Moreno Taquería  Antonio Moreno
3  4                     Around the Horn    Thomas Hardy

                               3            4        5        6
0                  Obere Str. 57       Berlin    12209  Germany
1  Avda. de la Constitución 2222  México D.F.    05021   Mexico
2                 Mataderos 2312  México D.F.    05023   Mexico
3                120 Hanover Sq.       London  WA1 1DP       UK

In [241]:
query = """
SELECT * FROM Customers
WHERE CustomerName LIKE '_r%';
"""
print_query_result(query)

     0                                  1                  2  \
0    4                    Around the Horn       Thomas Hardy
1   17          Drachenblut Delikatessend       Sven Ottlieb
2   20                       Ernst Handel      Roland Mendel
3   25                     Frankenversand      Peter Franken
4   26                France restauration     Carine Schmitt
5   27                     Franchi S.p.A.      Paolo Accorti
6   32            Great Lakes Food Market      Howard Snyder
7   33               GROSELLA-Restaurante     Manuel Pereira
8   60            Princesa Isabel Vinhoss   Isabel de Castro
9   81             Tradição Hipermercados  Anabela Domingues
10  82  Trail's Head Gourmet Provisioners     Helvetius Nagy

                            3          4          5          6
0             120 Hanover Sq.     London    WA1 1DP         UK
1                Walserweg 21     Aachen      52066    Germany
2                Kirchgasse 6       Graz       8010    Austria
3           Berliner Platz 43    München      80805    Germany
4              54, rue Royale     Nantes      44000     France
5         Via Monte Bianco 34     Torino      10100      Italy
6            2732 Baker Blvd.     Eugene      97403        USA
7   5ª Ave. Los Palos Grandes    Caracas       1081  Venezuela
8      Estrada da saúde n. 58     Lisboa       1756   Portugal
9     Av. Inês de Castro, 414  São Paulo  05634-030     Brazil
10          722 DaVinci Blvd.   Kirkland      98034        USA

## Without Wildcard

In [242]:
query = """
SELECT * FROM Customers
WHERE Country LIKE 'Spain';
"""
print_query_result(query)

    0                                     1                  2  \
0   8             Bólido Comidas preparadas      Martín Sommer
1  22  FISSA Fabrica Inter. Salchichas S.A.         Diego Roel
2  29                Galería del gastrónomo   Eduardo Saavedra
3  30                   Godos Cocina Típica  José Pedro Freyre
4  69                      Romero y tomillo   Alejandra Camino

                        3          4      5      6
0          C/ Araquil, 67     Madrid  28023  Spain
1      C/ Moralzarzal, 86     Madrid  28034  Spain
2  Rambla de Cataluña, 23  Barcelona  08022  Spain
3           C/ Romero, 33    Sevilla  41101  Spain
4             Gran Vía, 1     Madrid  28001  Spain

## SQL IN Operator

In [243]:
query = """
SELECT * FROM Customers
WHERE Country IN ('Germany', 'France', 'UK');
"""
print_query_result(query)

     0                          1                    2  \
0    1        Alfreds Futterkiste         Maria Anders
1    4            Around the Horn         Thomas Hardy
2    6    Blauer See Delikatessen           Hanna Moos
3    7       Blondel père et fils   Frédérique Citeaux
4    9                   Bon app'    Laurence Lebihans
5   11              B's Beverages    Victoria Ashworth
6   16      Consolidated Holdings      Elizabeth Brown
7   17  Drachenblut Delikatessend         Sven Ottlieb
8   18            Du monde entier       Janine Labrune
9   19         Eastern Connection            Ann Devon
10  23          Folies gourmandes        Martine Rancé
11  25             Frankenversand        Peter Franken
12  26        France restauration       Carine Schmitt
13  38             Island Trading        Helen Bennett
14  39            Königlich Essen        Philip Cramer
15  40       La corne d'abondance        Daniel Tonini
16  41           La maison d'Asie       Annette Roulet
17  44        Lehmanns Marktstand       Renate Messner
18  52     Morgenstern Gesundkost      Alexander Feuer
19  53                North/South       Simon Crowther
20  56         Ottilies Käseladen  Henriette Pfalzheim
21  57          Paris spécialités       Marie Bertrand
22  63                 QUICK-Stop          Horst Kloss
23  72         Seven Seas Imports           Hari Kumar
24  74       Spécialités du monde    Dominique Perrier
25  79         Toms Spezialitäten        Karin Josephs
26  84       Victuailles en stock         Mary Saveley
27  85  Vins et alcools Chevalier         Paul Henriot
28  86          Die Wandernde Kuh          Rita Müller

                               3                4         5        6
0                  Obere Str. 57           Berlin     12209  Germany
1                120 Hanover Sq.           London   WA1 1DP       UK
2                 Forsterstr. 57         Mannheim     68306  Germany
3               24, place Kléber       Strasbourg     67000   France
4           12, rue des Bouchers        Marseille     13008   France
5              Fauntleroy Circus           London   EC2 5NT       UK
6   Berkeley Gardens 12 Brewery            London   WX1 6LT       UK
7                   Walserweg 21           Aachen     52066  Germany
8   67, rue des Cinquante Otages           Nantes     44000   France
9                 35 King George           London   WX3 6FW       UK
10      184, chaussée de Tournai            Lille     59000   France
11             Berliner Platz 43          München     80805  Germany
12                54, rue Royale           Nantes     44000   France
13     Garden House Crowther Way            Cowes  PO31 7PJ       UK
14                 Maubelstr. 90      Brandenburg     14776  Germany
15        67, avenue de l'Europe       Versailles     78000   France
16         1 rue Alsace-Lorraine         Toulouse     31000   France
17                  Magazinweg 7  Frankfurt a.M.      60528  Germany
18                   Heerstr. 22          Leipzig     04179  Germany
19  South House 300 Queensbridge           London   SW7 1RZ       UK
20            Mehrheimerstr. 369             Köln     50739  Germany
21       265, boulevard Charonne            Paris     75012   France
22              Taucherstraße 10        Cunewalde     01307  Germany
23               90 Wadhurst Rd.           London  OX15 4NB       UK
24             25, rue Lauriston            Paris     75016   France
25                 Luisenstr. 48          Münster     44087  Germany
26            2, rue du Commerce             Lyon     69004   France
27            59 rue de l'Abbaye            Reims     51100   France
28             Adenauerallee 900        Stuttgart     70563  Germany

## NOT IN

In [244]:
query = """
SELECT * FROM Customers
WHERE Country NOT IN ('Germany', 'France', 'UK');
"""
print_query_result(query)

     0                                   1                   2  \
0    2  Ana Trujillo Emparedados y helados        Ana Trujillo
1    3             Antonio Moreno Taquería      Antonio Moreno
2    5                  Berglunds snabbköp  Christina Berglund
3    8           Bólido Comidas preparadas       Martín Sommer
4   10              Bottom-Dollar Marketse   Elizabeth Lincoln
..  ..                                 ...                 ...
56  83                        Vaffeljernet         Palle Ibsen
57  87                      Wartian Herkku    Pirkko Koskitalo
58  88              Wellington Importadora       Paula Parente
59  89                White Clover Markets      Karl Jablonski
60  90                         Wilman Kala     Matti Karttunen

                                3            4          5        6
0   Avda. de la Constitución 2222  México D.F.      05021   Mexico
1                  Mataderos 2312  México D.F.      05023   Mexico
2                  Berguvsvägen 8        Luleå   S-958 22   Sweden
3                  C/ Araquil, 67       Madrid      28023    Spain
4              23 Tsawassen Blvd.    Tsawassen    T2F 8M4   Canada
..                            ...          ...        ...      ...
56                  Smagsløget 45        Århus       8200  Denmark
57                    Torikatu 38         Oulu      90110  Finland
58             Rua do Mercado, 12      Resende  08737-363   Brazil
59    305 - 14th Ave. S. Suite 3B      Seattle      98128      USA
60                  Keskuskatu 45     Helsinki      21240  Finland

[61 rows x 7 columns]

## IN (SELECT)

In [245]:
query = """
SELECT * FROM Customers
WHERE CustomerID IN (SELECT CustomerID FROM Orders);
"""
print_query_result(query)

     0                                   1                   2  \
0    2  Ana Trujillo Emparedados y helados        Ana Trujillo
1    3             Antonio Moreno Taquería      Antonio Moreno
2    4                     Around the Horn        Thomas Hardy
3    5                  Berglunds snabbköp  Christina Berglund
4    7                Blondel père et fils  Frédérique Citeaux
..  ..                                 ...                 ...
69  87                      Wartian Herkku    Pirkko Koskitalo
70  88              Wellington Importadora       Paula Parente
71  89                White Clover Markets      Karl Jablonski
72  90                         Wilman Kala     Matti Karttunen
73  91                              Wolski             Zbyszek

                                3            4          5        6
0   Avda. de la Constitución 2222  México D.F.      05021   Mexico
1                  Mataderos 2312  México D.F.      05023   Mexico
2                 120 Hanover Sq.       London    WA1 1DP       UK
3                  Berguvsvägen 8        Luleå   S-958 22   Sweden
4                24, place Kléber   Strasbourg      67000   France
..                            ...          ...        ...      ...
69                    Torikatu 38         Oulu      90110  Finland
70             Rua do Mercado, 12      Resende  08737-363   Brazil
71    305 - 14th Ave. S. Suite 3B      Seattle      98128      USA
72                  Keskuskatu 45     Helsinki      21240  Finland
73                ul. Filtrowa 68        Walla     01-012     None

[74 rows x 7 columns]

## NOT IN (SELECT)

In [246]:
query = """
SELECT * FROM Customers
WHERE CustomerID NOT IN (SELECT CustomerID FROM Orders);
"""
print_query_result(query)

     0                                     1                  2  \
0    1                   Alfreds Futterkiste       Maria Anders
1    6               Blauer See Delikatessen         Hanna Moos
2   12            Cactus Comidas para llevar   Patricio Simpson
3   22  FISSA Fabrica Inter. Salchichas S.A.         Diego Roel
4   26                   France restauration     Carine Schmitt
5   32               Great Lakes Food Market      Howard Snyder
6   40                  La corne d'abondance      Daniel Tonini
7   42         Laughing Bacchus Wine Cellars    Yoshi Tannamuri
8   43                  Lazy K Kountry Store         John Steel
9   45                     Let's Stop N Shop       Jaime Yorres
10  50                          Maison Dewey    Catherine Dewey
11  53                           North/South     Simon Crowther
12  57                     Paris spécialités     Marie Bertrand
13  64                         Rancho grande   Sergio Gutiérrez
14  74                  Spécialités du monde  Dominique Perrier
15  78                       The Cracker Box           Liu Wong
16  82     Trail's Head Gourmet Provisioners     Helvetius Nagy

                               3              4        5          6
0                  Obere Str. 57         Berlin    12209    Germany
1                 Forsterstr. 57       Mannheim    68306    Germany
2                    Cerrito 333   Buenos Aires     1010  Argentina
3             C/ Moralzarzal, 86         Madrid    28034      Spain
4                 54, rue Royale         Nantes    44000     France
5               2732 Baker Blvd.         Eugene    97403        USA
6         67, avenue de l'Europe     Versailles    78000     France
7                   1900 Oak St.      Vancouver  V3F 2K1     Canada
8           12 Orchestra Terrace    Walla Walla    99362        USA
9            87 Polk St. Suite 5  San Francisco    94117        USA
10           Rue Joseph-Bens 532      Bruxelles   B-1180    Belgium
11  South House 300 Queensbridge         London  SW7 1RZ         UK
12       265, boulevard Charonne          Paris    75012     France
13        Av. del Libertador 900   Buenos Aires     1010  Argentina
14             25, rue Lauriston          Paris    75016     France
15           55 Grizzly Peak Rd.          Butte    59801        USA
16             722 DaVinci Blvd.       Kirkland    98034        USA

## SQL BETWEEN Operator

In [247]:
query = """
SELECT * FROM Products
WHERE Price BETWEEN 10 AND 20;
"""
print_query_result(query)

     0                                1   2  3                    4      5
0    1                            Chais   1  1   10 boxes x 20 bags  18.00
1    2                            Chang   1  1   24 - 12 oz bottles  19.00
2    3                    Aniseed Syrup   1  2  12 - 550 ml bottles  10.00
3   15                     Genen Shouyu   6  2  24 - 250 ml bottles  15.50
4   16                          Pavlova   7  3     32 - 500 g boxes  17.45
5   21              Sir Rodney's Scones   8  3  24 pkgs. x 4 pieces  10.00
6   25          NuNuCa Nuß-Nougat-Creme  11  3   20 - 450 g glasses  14.00
7   31                Gorgonzola Telino  14  4      12 - 100 g pkgs  12.50
8   34                    Sasquatch Ale  16  1   24 - 12 oz bottles  14.00
9   35                   Steeleye Stout  16  1   24 - 12 oz bottles  18.00
10  36                      Inlagd Sill  17  8      24 - 250 g jars  19.00
11  39                 Chartreuse verte  18  1    750 cc per bottle  18.00
12  40                 Boston Crab Meat  19  8       24 - 4 oz tins  18.40
13  42    Singaporean Hokkien Fried Mee  20  5      32 - 1 kg pkgs.  14.00
14  44                     Gula Malacca  20  2       20 - 2 kg bags  19.45
15  46                        Spegesild  21  8    4 - 450 g glasses  12.00
16  48                        Chocolade  22  3             10 pkgs.  12.75
17  49                         Maxilaku  23  3      24 - 50 g pkgs.  20.00
18  50                 Valkoinen suklaa  23  3      12 - 100 g bars  16.25
19  57                   Ravioli Angelo  26  5     24 - 250 g pkgs.  19.50
20  58           Escargots de Bourgogne  27  8            24 pieces  13.25
21  66        Louisiana Hot Spiced Okra   2  2       24 - 8 oz jars  17.00
22  67        Laughing Lumberjack Lager  16  1   24 - 12 oz bottles  14.00
23  68              Scottish Longbreads   8  3  10 boxes x 8 pieces  12.50
24  70                    Outback Lager   7  1  24 - 355 ml bottles  15.00
25  73                       Röd Kaviar  17  8      24 - 150 g jars  15.00
26  74                    Longlife Tofu   4  7            5 kg pkg.  10.00
27  76                     Lakkalikööri  23  1              500 ml   18.00
28  77  Original Frankfurter grüne Soße  12  2             12 boxes  13.00

## NOT BETWEEN

In [248]:
query = """
SELECT * FROM Products
WHERE Price NOT BETWEEN 10 AND 20;
"""
print_query_result(query)

     0                                 1   2  3                     4       5
0    4      Chef Anton's Cajun Seasoning   2  2        48 - 6 oz jars   22.00
1    5            Chef Anton's Gumbo Mix   2  2              36 boxes   21.35
2    6      Grandma's Boysenberry Spread   3  2        12 - 8 oz jars   25.00
3    7   Uncle Bob's Organic Dried Pears   3  7       12 - 1 lb pkgs.   30.00
4    8        Northwoods Cranberry Sauce   3  2       12 - 12 oz jars   40.00
5    9                   Mishi Kobe Niku   4  6      18 - 500 g pkgs.   97.00
6   10                             Ikura   4  8      12 - 200 ml jars   31.00
7   11                    Queso Cabrales   5  4             1 kg pkg.   21.00
8   12         Queso Manchego La Pastora   5  4      10 - 500 g pkgs.   38.00
9   13                             Konbu   6  8              2 kg box    6.00
10  14                              Tofu   6  7      40 - 100 g pkgs.   23.25
11  17                      Alice Mutton   7  6        20 - 1 kg tins   39.00
12  18                  Carnarvon Tigers   7  8            16 kg pkg.   62.50
13  19        Teatime Chocolate Biscuits   8  3  10 boxes x 12 pieces    9.20
14  20            Sir Rodney's Marmalade   8  3         30 gift boxes   81.00
15  22               Gustaf's Knäckebröd   9  5      24 - 500 g pkgs.   21.00
16  23                          Tunnbröd   9  5      12 - 250 g pkgs.    9.00
17  24                Guaraná Fantástica  10  1      12 - 355 ml cans    4.50
18  26               Gumbär Gummibärchen  11  3      100 - 250 g bags   31.23
19  27                Schoggi Schokolade  11  3    100 - 100 g pieces   43.90
20  28                 Rössle Sauerkraut  12  7       25 - 825 g cans   45.60
21  29           Thüringer Rostbratwurst  12  6  50 bags x 30 sausgs.  123.79
22  30             Nord-Ost Matjeshering  13  8    10 - 200 g glasses   25.89
23  32                Mascarpone Fabioli  14  4      24 - 200 g pkgs.   32.00
24  33                           Geitost  15  4                 500 g    2.50
25  37                        Gravad lax  17  8      12 - 500 g pkgs.   26.00
26  38                     Côte de Blaye  18  1    12 - 75 cl bottles  263.50
27  41   Jack's New England Clam Chowder  19  8       12 - 12 oz cans    9.65
28  43                       Ipoh Coffee  20  1       16 - 500 g tins   46.00
29  45                       Røgede sild  21  8               1k pkg.    9.50
30  47                     Zaanse koeken  22  3       10 - 4 oz boxes    9.50
31  51             Manjimup Dried Apples  24  7      50 - 300 g pkgs.   53.00
32  52                          Filo Mix  24  5       16 - 2 kg boxes    7.00
33  53                     Perth Pasties  24  6             48 pieces   32.80
34  54                         Tourtière  25  6               16 pies    7.45
35  55                      Pâté chinois  25  6     24 boxes x 2 pies   24.00
36  56            Gnocchi di nonna Alice  26  5      24 - 250 g pkgs.   38.00
37  59              Raclette Courdavault  28  4             5 kg pkg.   55.00
38  60                 Camembert Pierrot  28  4     15 - 300 g rounds   34.00
39  61                    Sirop d'érable  29  2   24 - 500 ml bottles   28.50
40  62                    Tarte au sucre  29  3               48 pies   49.30
41  63                      Vegie-spread   7  2       15 - 625 g jars   43.90
42  64         Wimmers gute Semmelknödel  12  5    20 bags x 4 pieces   33.25
43  65  Louisiana Fiery Hot Pepper Sauce   2  2     32 - 8 oz bottles   21.05
44  69                  Gudbrandsdalsost  15  4            10 kg pkg.   36.00
45  71                       Fløtemysost  15  4      10 - 500 g pkgs.   21.50
46  72            Mozzarella di Giovanni  14  4      24 - 200 g pkgs.   34.80
47  75              Rhönbräu Klosterbier  12  1    24 - 0.5 l bottles    7.75

## BETWEEN with IN

In [249]:
query = """
SELECT * FROM Products
WHERE Price BETWEEN 10 AND 20
AND CategoryID IN (1,2,3);
"""
print_query_result(query)

     0                                1   2  3                    4      5
0    1                            Chais   1  1   10 boxes x 20 bags  18.00
1    2                            Chang   1  1   24 - 12 oz bottles  19.00
2    3                    Aniseed Syrup   1  2  12 - 550 ml bottles  10.00
3   15                     Genen Shouyu   6  2  24 - 250 ml bottles  15.50
4   16                          Pavlova   7  3     32 - 500 g boxes  17.45
5   21              Sir Rodney's Scones   8  3  24 pkgs. x 4 pieces  10.00
6   25          NuNuCa Nuß-Nougat-Creme  11  3   20 - 450 g glasses  14.00
7   34                    Sasquatch Ale  16  1   24 - 12 oz bottles  14.00
8   35                   Steeleye Stout  16  1   24 - 12 oz bottles  18.00
9   39                 Chartreuse verte  18  1    750 cc per bottle  18.00
10  44                     Gula Malacca  20  2       20 - 2 kg bags  19.45
11  48                        Chocolade  22  3             10 pkgs.  12.75
12  49                         Maxilaku  23  3      24 - 50 g pkgs.  20.00
13  50                 Valkoinen suklaa  23  3      12 - 100 g bars  16.25
14  66        Louisiana Hot Spiced Okra   2  2       24 - 8 oz jars  17.00
15  67        Laughing Lumberjack Lager  16  1   24 - 12 oz bottles  14.00
16  68              Scottish Longbreads   8  3  10 boxes x 8 pieces  12.50
17  70                    Outback Lager   7  1  24 - 355 ml bottles  15.00
18  76                     Lakkalikööri  23  1              500 ml   18.00
19  77  Original Frankfurter grüne Soße  12  2             12 boxes  13.00

## BETWEEN Text Values

In [250]:
query = """
SELECT * FROM Products
WHERE ProductName BETWEEN 'Carnarvon Tigers' AND 'Mozzarella di Giovanni'
ORDER BY ProductName;
"""
print_query_result(query)

     0                                 1   2  3                    4       5
0   18                  Carnarvon Tigers   7  8           16 kg pkg.   62.50
1    1                             Chais   1  1   10 boxes x 20 bags   18.00
2    2                             Chang   1  1   24 - 12 oz bottles   19.00
3   39                  Chartreuse verte  18  1    750 cc per bottle   18.00
4    4      Chef Anton's Cajun Seasoning   2  2       48 - 6 oz jars   22.00
5    5            Chef Anton's Gumbo Mix   2  2             36 boxes   21.35
6   48                         Chocolade  22  3             10 pkgs.   12.75
7   38                     Côte de Blaye  18  1   12 - 75 cl bottles  263.50
8   58            Escargots de Bourgogne  27  8            24 pieces   13.25
9   52                          Filo Mix  24  5      16 - 2 kg boxes    7.00
10  71                       Fløtemysost  15  4     10 - 500 g pkgs.   21.50
11  33                           Geitost  15  4                500 g    2.50
12  15                      Genen Shouyu   6  2  24 - 250 ml bottles   15.50
13  56            Gnocchi di nonna Alice  26  5     24 - 250 g pkgs.   38.00
14  31                 Gorgonzola Telino  14  4      12 - 100 g pkgs   12.50
15   6      Grandma's Boysenberry Spread   3  2       12 - 8 oz jars   25.00
16  37                        Gravad lax  17  8     12 - 500 g pkgs.   26.00
17  24                Guaraná Fantástica  10  1     12 - 355 ml cans    4.50
18  69                  Gudbrandsdalsost  15  4           10 kg pkg.   36.00
19  44                      Gula Malacca  20  2       20 - 2 kg bags   19.45
20  26               Gumbär Gummibärchen  11  3     100 - 250 g bags   31.23
21  22               Gustaf's Knäckebröd   9  5     24 - 500 g pkgs.   21.00
22  10                             Ikura   4  8     12 - 200 ml jars   31.00
23  36                       Inlagd Sill  17  8      24 - 250 g jars   19.00
24  43                       Ipoh Coffee  20  1      16 - 500 g tins   46.00
25  41   Jack's New England Clam Chowder  19  8      12 - 12 oz cans    9.65
26  13                             Konbu   6  8             2 kg box    6.00
27  76                      Lakkalikööri  23  1              500 ml    18.00
28  67         Laughing Lumberjack Lager  16  1   24 - 12 oz bottles   14.00
29  74                     Longlife Tofu   4  7            5 kg pkg.   10.00
30  65  Louisiana Fiery Hot Pepper Sauce   2  2    32 - 8 oz bottles   21.05
31  66         Louisiana Hot Spiced Okra   2  2       24 - 8 oz jars   17.00
32  51             Manjimup Dried Apples  24  7     50 - 300 g pkgs.   53.00
33  32                Mascarpone Fabioli  14  4     24 - 200 g pkgs.   32.00
34  49                          Maxilaku  23  3      24 - 50 g pkgs.   20.00
35   9                   Mishi Kobe Niku   4  6     18 - 500 g pkgs.   97.00
36  72            Mozzarella di Giovanni  14  4     24 - 200 g pkgs.   34.80

In [251]:
query = """
SELECT * FROM Products
WHERE ProductName BETWEEN "Carnarvon Tigers" AND "Chef Anton's Cajun Seasoning"
ORDER BY ProductName;
"""
print_query_result(query)

    0                             1   2  3                   4     5
0  18              Carnarvon Tigers   7  8          16 kg pkg.  62.5
1   1                         Chais   1  1  10 boxes x 20 bags  18.0
2   2                         Chang   1  1  24 - 12 oz bottles  19.0
3  39              Chartreuse verte  18  1   750 cc per bottle  18.0
4   4  Chef Anton's Cajun Seasoning   2  2      48 - 6 oz jars  22.0

## NOT BETWEEN Text Values

In [252]:
query = """
SELECT * FROM Products
WHERE ProductName NOT BETWEEN 'Carnarvon Tigers' AND 'Mozzarella di Giovanni'
ORDER BY ProductName;
"""
print_query_result(query)

     0                                1   2  3                     4       5
0   17                     Alice Mutton   7  6        20 - 1 kg tins   39.00
1    3                    Aniseed Syrup   1  2   12 - 550 ml bottles   10.00
2   40                 Boston Crab Meat  19  8        24 - 4 oz tins   18.40
3   60                Camembert Pierrot  28  4     15 - 300 g rounds   34.00
4   30            Nord-Ost Matjeshering  13  8    10 - 200 g glasses   25.89
5    8       Northwoods Cranberry Sauce   3  2       12 - 12 oz jars   40.00
6   25          NuNuCa Nuß-Nougat-Creme  11  3    20 - 450 g glasses   14.00
7   77  Original Frankfurter grüne Soße  12  2              12 boxes   13.00
8   70                    Outback Lager   7  1   24 - 355 ml bottles   15.00
9   16                          Pavlova   7  3      32 - 500 g boxes   17.45
10  53                    Perth Pasties  24  6             48 pieces   32.80
11  55                     Pâté chinois  25  6     24 boxes x 2 pies   24.00
12  11                   Queso Cabrales   5  4             1 kg pkg.   21.00
13  12        Queso Manchego La Pastora   5  4      10 - 500 g pkgs.   38.00
14  59             Raclette Courdavault  28  4             5 kg pkg.   55.00
15  57                   Ravioli Angelo  26  5      24 - 250 g pkgs.   19.50
16  75             Rhönbräu Klosterbier  12  1    24 - 0.5 l bottles    7.75
17  73                       Röd Kaviar  17  8       24 - 150 g jars   15.00
18  28                Rössle Sauerkraut  12  7       25 - 825 g cans   45.60
19  45                      Røgede sild  21  8               1k pkg.    9.50
20  34                    Sasquatch Ale  16  1    24 - 12 oz bottles   14.00
21  27               Schoggi Schokolade  11  3    100 - 100 g pieces   43.90
22  68              Scottish Longbreads   8  3   10 boxes x 8 pieces   12.50
23  42    Singaporean Hokkien Fried Mee  20  5       32 - 1 kg pkgs.   14.00
24  20           Sir Rodney's Marmalade   8  3         30 gift boxes   81.00
25  21              Sir Rodney's Scones   8  3   24 pkgs. x 4 pieces   10.00
26  61                   Sirop d'érable  29  2   24 - 500 ml bottles   28.50
27  46                        Spegesild  21  8     4 - 450 g glasses   12.00
28  35                   Steeleye Stout  16  1    24 - 12 oz bottles   18.00
29  62                   Tarte au sucre  29  3               48 pies   49.30
30  19       Teatime Chocolate Biscuits   8  3  10 boxes x 12 pieces    9.20
31  29          Thüringer Rostbratwurst  12  6  50 bags x 30 sausgs.  123.79
32  14                             Tofu   6  7      40 - 100 g pkgs.   23.25
33  54                        Tourtière  25  6               16 pies    7.45
34  23                         Tunnbröd   9  5      12 - 250 g pkgs.    9.00
35   7  Uncle Bob's Organic Dried Pears   3  7       12 - 1 lb pkgs.   30.00
36  50                 Valkoinen suklaa  23  3       12 - 100 g bars   16.25
37  63                     Vegie-spread   7  2       15 - 625 g jars   43.90
38  64        Wimmers gute Semmelknödel  12  5    20 bags x 4 pieces   33.25
39  47                    Zaanse koeken  22  3       10 - 4 oz boxes    9.50

## BETWEEN Dates

In [253]:
query = """
SELECT * FROM Orders
WHERE OrderDate BETWEEN #07/01/1996# AND #07/31/1996#;
"""
conn = sqlite3.connect('database.db')
cursor = conn.cursor()
cursor.execute("PRAGMA table_info(Orders)")
for row in cursor.fetchall():
    print(row)
# 데이터 확인
cursor.execute("SELECT * FROM Orders LIMIT 1")
print(cursor.fetchall())
# 쿼리를 아래와 같이 수정
query = """
SELECT * FROM Orders
WHERE OrderDate BETWEEN '07/01/1996' AND '07/31/1996';
"""
# sqlite에서는 Date를 TEXT로 저장 !
print_query_result(query)
conn
# 그런데 안나옴 !?

(0, 'OrderID', 'INTEGER', 0, None, 0)
(1, 'CustomerID', 'INTEGER', 0, None, 0)
(2, 'EmployeeID', 'INTEGER', 0, None, 0)
(3, 'OrderDate', 'TEXT', 0, None, 0)
(4, 'ShipperID', 'INTEGER', 0, None, 0)
[(10248, 90, 5, '7/4/1996', 3)]
Empty DataFrame
Columns: []
Index: []

## SQL Aliases

In [254]:
query = """
SELECT CustomerID AS ID
FROM Customers;
"""
print_query_result(query)

     0
0    1
1    2
2    3
3    4
4    5
..  ..
86  87
87  88
88  89
89  90
90  91

[91 rows x 1 columns]

## AS is Optional

In [255]:
query = """
SELECT CustomerID ID
FROM Customers;
"""
print_query_result(query)

     0
0    1
1    2
2    3
3    4
4    5
..  ..
86  87
87  88
88  89
89  90
90  91

[91 rows x 1 columns]

## Alias for Columns

In [256]:
query = """
SELECT CustomerID AS ID, CustomerName AS Customer
FROM Customers;
"""
print_query_result(query)

     0                                   1
0    1                 Alfreds Futterkiste
1    2  Ana Trujillo Emparedados y helados
2    3             Antonio Moreno Taquería
3    4                     Around the Horn
4    5                  Berglunds snabbköp
..  ..                                 ...
86  87                      Wartian Herkku
87  88              Wellington Importadora
88  89                White Clover Markets
89  90                         Wilman Kala
90  91                              Wolski

[91 rows x 2 columns]

## Using Aliases With a Space Character

In [257]:
query = """
SELECT ProductName AS [My Great Products]
FROM Products;
"""
print_query_result(query)

                                  0
0                             Chais
1                             Chang
2                     Aniseed Syrup
3      Chef Anton's Cajun Seasoning
4            Chef Anton's Gumbo Mix
..                              ...
72                       Röd Kaviar
73                    Longlife Tofu
74             Rhönbräu Klosterbier
75                     Lakkalikööri
76  Original Frankfurter grüne Soße

[77 rows x 1 columns]

In [258]:
query = """
SELECT ProductName AS "My Great Products"
FROM Products;
"""
print_query_result(query)

                                  0
0                             Chais
1                             Chang
2                     Aniseed Syrup
3      Chef Anton's Cajun Seasoning
4            Chef Anton's Gumbo Mix
..                              ...
72                       Röd Kaviar
73                    Longlife Tofu
74             Rhönbräu Klosterbier
75                     Lakkalikööri
76  Original Frankfurter grüne Soße

[77 rows x 1 columns]

## Concatenate Columns

In [259]:
query = """
SELECT CustomerName, Address + ', ' + PostalCode + ' ' + City + ', ' + Country AS Address
FROM Customers;
"""
print_query_result(query)

                                     0        1
0                  Alfreds Futterkiste  12209.0
1   Ana Trujillo Emparedados y helados   5021.0
2              Antonio Moreno Taquería   5023.0
3                      Around the Horn    120.0
4                   Berglunds snabbköp      0.0
..                                 ...      ...
86                      Wartian Herkku  90110.0
87              Wellington Importadora   8737.0
88                White Clover Markets  98433.0
89                         Wilman Kala  21240.0
90                              Wolski      NaN

[91 rows x 2 columns]

## Alias for Tables

In [260]:
query = """
SELECT * FROM Customers AS Persons;
"""
print_query_result(query)

     0                                   1                   2  \
0    1                 Alfreds Futterkiste        Maria Anders
1    2  Ana Trujillo Emparedados y helados        Ana Trujillo
2    3             Antonio Moreno Taquería      Antonio Moreno
3    4                     Around the Horn        Thomas Hardy
4    5                  Berglunds snabbköp  Christina Berglund
..  ..                                 ...                 ...
86  87                      Wartian Herkku    Pirkko Koskitalo
87  88              Wellington Importadora       Paula Parente
88  89                White Clover Markets      Karl Jablonski
89  90                         Wilman Kala     Matti Karttunen
90  91                              Wolski             Zbyszek

                                3            4          5        6
0                   Obere Str. 57       Berlin      12209  Germany
1   Avda. de la Constitución 2222  México D.F.      05021   Mexico
2                  Mataderos 2312  México D.F.      05023   Mexico
3                 120 Hanover Sq.       London    WA1 1DP       UK
4                  Berguvsvägen 8        Luleå   S-958 22   Sweden
..                            ...          ...        ...      ...
86                    Torikatu 38         Oulu      90110  Finland
87             Rua do Mercado, 12      Resende  08737-363   Brazil
88    305 - 14th Ave. S. Suite 3B      Seattle      98128      USA
89                  Keskuskatu 45     Helsinki      21240  Finland
90                ul. Filtrowa 68        Walla     01-012     None

[91 rows x 7 columns]

In [261]:
query = """
SELECT o.OrderID, o.OrderDate, c.CustomerName
FROM Customers AS c, Orders AS o
WHERE c.CustomerName='Around the Horn' AND c.CustomerID=o.CustomerID;
"""
print_query_result(query)

       0           1                2
0  10355  11/15/1996  Around the Horn
1  10383  12/16/1996  Around the Horn

In [262]:
query = """
SELECT Orders.OrderID, Orders.OrderDate, Customers.CustomerName
FROM Customers, Orders
WHERE Customers.CustomerName='Around the Horn' AND Customers.CustomerID=Orders.CustomerID;
"""
print_query_result(query)

       0           1                2
0  10355  11/15/1996  Around the Horn
1  10383  12/16/1996  Around the Horn

## SQL JOIN

In [263]:
query = """
SELECT Orders.OrderID, Customers.CustomerName, Orders.OrderDate
FROM Orders
INNER JOIN Customers ON Orders.CustomerID=Customers.CustomerID;
"""
print_query_result(query)

         0                       1          2
0    10248             Wilman Kala   7/4/1996
1    10249  Tradição Hipermercados   7/5/1996
2    10250           Hanari Carnes   7/8/1996
3    10251    Victuailles en stock   7/8/1996
4    10252        Suprêmes délices   7/9/1996
..     ...                     ...        ...
191  10439          Mère Paillarde   2/7/1997
192  10440      Save-a-lot Markets  2/10/1997
193  10441  Old World Delicatessen  2/10/1997
194  10442            Ernst Handel  2/11/1997
195  10443      Reggiani Caseifici  2/12/1997

[196 rows x 3 columns]

## INNER JOIN

In [264]:
query = """
SELECT ProductID, ProductName, CategoryName
FROM Products
INNER JOIN Categories ON Products.CategoryID = Categories.CategoryID;
"""
print_query_result(query)

     0                                1           2
0    1                            Chais   Beverages
1    2                            Chang   Beverages
2    3                    Aniseed Syrup  Condiments
3    4     Chef Anton's Cajun Seasoning  Condiments
4    5           Chef Anton's Gumbo Mix  Condiments
..  ..                              ...         ...
72  73                       Röd Kaviar     Seafood
73  74                    Longlife Tofu     Produce
74  75             Rhönbräu Klosterbier   Beverages
75  76                     Lakkalikööri   Beverages
76  77  Original Frankfurter grüne Soße  Condiments

[77 rows x 3 columns]

## Naming the Columns

In [265]:
query = """
SELECT Products.ProductID, Products.ProductName, Categories.CategoryName
FROM Products
INNER JOIN Categories ON Products.CategoryID = Categories.CategoryID;
"""
print_query_result(query)

     0                                1           2
0    1                            Chais   Beverages
1    2                            Chang   Beverages
2    3                    Aniseed Syrup  Condiments
3    4     Chef Anton's Cajun Seasoning  Condiments
4    5           Chef Anton's Gumbo Mix  Condiments
..  ..                              ...         ...
72  73                       Röd Kaviar     Seafood
73  74                    Longlife Tofu     Produce
74  75             Rhönbräu Klosterbier   Beverages
75  76                     Lakkalikööri   Beverages
76  77  Original Frankfurter grüne Soße  Condiments

[77 rows x 3 columns]

## JOIN or INNER JOIN

In [266]:
query = """
SELECT Products.ProductID, Products.ProductName, Categories.CategoryName
FROM Products
JOIN Categories ON Products.CategoryID = Categories.CategoryID;
"""
print_query_result(query)

     0                                1           2
0    1                            Chais   Beverages
1    2                            Chang   Beverages
2    3                    Aniseed Syrup  Condiments
3    4     Chef Anton's Cajun Seasoning  Condiments
4    5           Chef Anton's Gumbo Mix  Condiments
..  ..                              ...         ...
72  73                       Röd Kaviar     Seafood
73  74                    Longlife Tofu     Produce
74  75             Rhönbräu Klosterbier   Beverages
75  76                     Lakkalikööri   Beverages
76  77  Original Frankfurter grüne Soße  Condiments

[77 rows x 3 columns]

## JOIN Three Tables

In [267]:
query = """
SELECT Orders.OrderID, Customers.CustomerName, Shippers.ShipperName
FROM ((Orders
INNER JOIN Customers ON Orders.CustomerID = Customers.CustomerID)
INNER JOIN Shippers ON Orders.ShipperID = Shippers.ShipperID);
"""
print_query_result(query)

         0                       1                 2
0    10248             Wilman Kala  Federal Shipping
1    10249  Tradição Hipermercados    Speedy Express
2    10250           Hanari Carnes    United Package
3    10251    Victuailles en stock    Speedy Express
4    10252        Suprêmes délices    United Package
..     ...                     ...               ...
191  10439          Mère Paillarde  Federal Shipping
192  10440      Save-a-lot Markets    United Package
193  10441  Old World Delicatessen    United Package
194  10442            Ernst Handel    United Package
195  10443      Reggiani Caseifici    Speedy Express

[196 rows x 3 columns]

## SQL LEFT JOIN

In [268]:
query = """
SELECT Customers.CustomerName, Orders.OrderID
FROM Customers
LEFT JOIN Orders ON Customers.CustomerID = Orders.CustomerID
ORDER BY Customers.CustomerName;
"""
print_query_result(query)

                                      0        1
0                   Alfreds Futterkiste      NaN
1    Ana Trujillo Emparedados y helados  10308.0
2               Antonio Moreno Taquería  10365.0
3                       Around the Horn  10355.0
4                       Around the Horn  10383.0
..                                  ...      ...
208              Wellington Importadora  10420.0
209                White Clover Markets  10269.0
210                White Clover Markets  10344.0
211                         Wilman Kala  10248.0
212                              Wolski  10374.0

[213 rows x 2 columns]

## RIGHT JOIN

In [269]:
query = """
SELECT Orders.OrderID, Employees.LastName, Employees.FirstName
FROM Orders
RIGHT JOIN Employees ON Orders.EmployeeID = Employees.EmployeeID
ORDER BY Orders.OrderID;
"""
print_query_result(query)

           0          1         2
0        NaN       West      Adam
1    10248.0   Buchanan    Steven
2    10249.0     Suyama   Michael
3    10250.0    Peacock  Margaret
4    10251.0  Leverling     Janet
..       ...        ...       ...
192  10439.0     Suyama   Michael
193  10440.0    Peacock  Margaret
194  10441.0  Leverling     Janet
195  10442.0  Leverling     Janet
196  10443.0   Callahan     Laura

[197 rows x 3 columns]

## FULL OUTER JOIN

In [270]:
query = """
SELECT Customers.CustomerName, Orders.OrderID
FROM Customers
FULL OUTER JOIN Orders ON Customers.CustomerID=Orders.CustomerID
ORDER BY Customers.CustomerName;
"""
print_query_result(query)

                                      0        1
0                   Alfreds Futterkiste      NaN
1    Ana Trujillo Emparedados y helados  10308.0
2               Antonio Moreno Taquería  10365.0
3                       Around the Horn  10355.0
4                       Around the Horn  10383.0
..                                  ...      ...
208              Wellington Importadora  10420.0
209                White Clover Markets  10269.0
210                White Clover Markets  10344.0
211                         Wilman Kala  10248.0
212                              Wolski  10374.0

[213 rows x 2 columns]

## Self Join

In [271]:
query = """
SELECT A.CustomerName AS CustomerName1, B.CustomerName AS CustomerName2, A.City
FROM Customers A, Customers B
WHERE A.CustomerID <> B.CustomerID
AND A.City = B.City
ORDER BY A.City;
"""
print_query_result(query)

                             0                           1             2
0   Cactus Comidas para llevar      Océano Atlántico Ltda.  Buenos Aires
1   Cactus Comidas para llevar               Rancho grande  Buenos Aires
2       Océano Atlántico Ltda.  Cactus Comidas para llevar  Buenos Aires
3       Océano Atlántico Ltda.               Rancho grande  Buenos Aires
4                Rancho grande  Cactus Comidas para llevar  Buenos Aires
..                         ...                         ...           ...
83               Queen Cozinha          Familia Arquibaldo     São Paulo
84               Queen Cozinha      Tradição Hipermercados     São Paulo
85      Tradição Hipermercados            Comércio Mineiro     São Paulo
86      Tradição Hipermercados          Familia Arquibaldo     São Paulo
87      Tradição Hipermercados               Queen Cozinha     São Paulo

[88 rows x 3 columns]

## UNION Operator

In [272]:
query = """
SELECT City FROM Customers
UNION
SELECT City FROM Suppliers
ORDER BY City;
"""
print_query_result(query)

              0
0        Aachen
1   Albuquerque
2     Anchorage
3     Ann Arbor
4        Annecy
..          ...
89   Versailles
90        Walla
91  Walla Walla
92      Zaandam
93        Århus

[94 rows x 1 columns]

## UNION ALL

In [273]:
query = """
SELECT City FROM Customers
UNION ALL
SELECT City FROM Suppliers
ORDER BY City;
"""
print_query_result(query)

               0
0         Aachen
1    Albuquerque
2      Anchorage
3      Ann Arbor
4         Annecy
..           ...
115   Versailles
116        Walla
117  Walla Walla
118      Zaandam
119        Århus

[120 rows x 1 columns]

## UNION With WHERE

In [274]:
query = """
SELECT City, Country FROM Customers
WHERE Country='Germany'
UNION
SELECT City, Country FROM Suppliers
WHERE Country='Germany'
ORDER BY City;
"""
print_query_result(query)

                  0        1
0            Aachen  Germany
1            Berlin  Germany
2       Brandenburg  Germany
3         Cunewalde  Germany
4          Cuxhaven  Germany
5         Frankfurt  Germany
6   Frankfurt a.M.   Germany
7              Köln  Germany
8           Leipzig  Germany
9          Mannheim  Germany
10          München  Germany
11          Münster  Germany
12        Stuttgart  Germany

## UNION ALL With WHERE

In [275]:
query = """
SELECT City, Country FROM Customers
WHERE Country='Germany'
UNION ALL
SELECT City, Country FROM Suppliers
WHERE Country='Germany'
ORDER BY City;
"""
print_query_result(query)

                  0        1
0            Aachen  Germany
1            Berlin  Germany
2            Berlin  Germany
3       Brandenburg  Germany
4         Cunewalde  Germany
5          Cuxhaven  Germany
6         Frankfurt  Germany
7   Frankfurt a.M.   Germany
8              Köln  Germany
9           Leipzig  Germany
10         Mannheim  Germany
11          München  Germany
12          Münster  Germany
13        Stuttgart  Germany

## Another UNION Example

In [276]:
query = """
SELECT 'Customer' AS Type, ContactName, City, Country
FROM Customers
UNION
SELECT 'Supplier', ContactName, City, Country
FROM Suppliers;
"""
print_query_result(query)

            0                  1            2          3
0    Customer   Alejandra Camino       Madrid      Spain
1    Customer    Alexander Feuer      Leipzig    Germany
2    Customer       Ana Trujillo  México D.F.     Mexico
3    Customer  Anabela Domingues    São Paulo     Brazil
4    Customer      André Fonseca     Campinas     Brazil
..        ...                ...          ...        ...
115  Supplier      Robb Merchant       Boston        USA
116  Supplier      Shelley Burke  New Orleans        USA
117  Supplier      Sven Petersen     Cuxhaven    Germany
118  Supplier    Wendy Mackenzie       Sydney  Australia
119  Supplier       Yoshi Nagase        Tokyo      Japan

[120 rows x 4 columns]

## GROUP BY Statement

In [277]:
query = """
SELECT COUNT(CustomerID), Country
FROM Customers
GROUP BY Country;
"""
print_query_result(query)

     0            1
0    1         None
1    3    Argentina
2    2      Austria
3    2      Belgium
4    9       Brazil
5    3       Canada
6    2      Denmark
7    2      Finland
8   11       France
9   11      Germany
10   1      Ireland
11   3        Italy
12   5       Mexico
13   1       Norway
14   2     Portugal
15   5        Spain
16   2       Sweden
17   2  Switzerland
18   7           UK
19  13          USA
20   4    Venezuela

In [278]:
query = """
SELECT COUNT(CustomerID), Country
FROM Customers
GROUP BY Country
ORDER BY COUNT(CustomerID) DESC;
"""
print_query_result(query)

     0            1
0   13          USA
1   11      Germany
2   11       France
3    9       Brazil
4    7           UK
5    5        Spain
6    5       Mexico
7    4    Venezuela
8    3        Italy
9    3       Canada
10   3    Argentina
11   2  Switzerland
12   2       Sweden
13   2     Portugal
14   2      Finland
15   2      Denmark
16   2      Belgium
17   2      Austria
18   1       Norway
19   1      Ireland
20   1         None

## GROUP BY With JOIN

In [279]:
query = """
SELECT Shippers.ShipperName, COUNT(Orders.OrderID) AS NumberOfOrders FROM Orders
LEFT JOIN Shippers ON Orders.ShipperID = Shippers.ShipperID
GROUP BY ShipperName;
"""
print_query_result(query)

                  0   1
0  Federal Shipping  68
1    Speedy Express  54
2    United Package  74

## HAVING

In [280]:
query = """
SELECT COUNT(CustomerID), Country
FROM Customers
GROUP BY Country
HAVING COUNT(CustomerID) > 5;
"""
print_query_result(query)

    0        1
0   9   Brazil
1  11   France
2  11  Germany
3   7       UK
4  13      USA

In [281]:
query = """
SELECT COUNT(CustomerID), Country
FROM Customers
GROUP BY Country
HAVING COUNT(CustomerID) > 5
ORDER BY COUNT(CustomerID) DESC;
"""
print_query_result(query)

    0        1
0  13      USA
1  11  Germany
2  11   France
3   9   Brazil
4   7       UK

## More HAVING Examples

In [282]:
query = """
SELECT Employees.LastName, COUNT(Orders.OrderID) AS NumberOfOrders
FROM (Orders
INNER JOIN Employees ON Orders.EmployeeID = Employees.EmployeeID)
GROUP BY LastName
HAVING COUNT(Orders.OrderID) > 10;
"""
print_query_result(query)

           0   1
0   Buchanan  11
1   Callahan  27
2    Davolio  29
3     Fuller  20
4       King  14
5  Leverling  31
6    Peacock  40
7     Suyama  18

In [283]:
query = """
SELECT Employees.LastName, COUNT(Orders.OrderID) AS NumberOfOrders
FROM Orders
INNER JOIN Employees ON Orders.EmployeeID = Employees.EmployeeID
WHERE LastName = 'Davolio' OR LastName = 'Fuller'
GROUP BY LastName
HAVING COUNT(Orders.OrderID) > 25;
"""
print_query_result(query)

         0   1
0  Davolio  29

## EXISTS

In [284]:
query = """
SELECT SupplierName
FROM Suppliers
WHERE EXISTS (SELECT ProductName FROM Products WHERE Products.SupplierID = Suppliers.supplierID AND Price < 20);
"""
print_query_result(query)

                                    0
0                       Exotic Liquid
1          New Orleans Cajun Delights
2                       Tokyo Traders
3                            Mayumi's
4                       Pavlova, Ltd.
5            Specialty Biscuits, Ltd.
6                    PB Knäckebröd AB
7           Refrescos Americanas LTDA
8         Heli Süßwaren GmbH & Co. KG
9   Plutzer Lebensmittelgroßmärkte AG
10            Formaggi Fortini s.r.l.
11                    Norske Meierier
12                  Bigfoot Breweries
13                  Svensk Sjöföda AB
14         Aux joyeux ecclésiastiques
15        New England Seafood Cannery
16                       Leka Trading
17                         Lyngbysild
18                Zaanse Snoepfabriek
19                          Karkki Oy
20                        G'day, Mate
21                          Ma Maison
22               Pasta Buttini s.r.l.
23                 Escargots Nouveaux

In [285]:
query = """
SELECT SupplierName
FROM Suppliers
WHERE EXISTS (SELECT ProductName FROM Products WHERE Products.SupplierID = Suppliers.supplierID AND Price = 22);
"""
print_query_result(query)

                            0
0  New Orleans Cajun Delights

## ANY

In [286]:
query = """
SELECT ProductName
FROM Products
WHERE ProductID = ANY(
SELECT ProductID
FROM OrderDetails
WHERE Quantity = 10);
"""

# sqlite에선 위와 같은 ANY는 지원하지 않음 !
# IN을 이용한 쿼리로 변경

query = """
SELECT ProductName
FROM Products
WHERE ProductID IN (
SELECT ProductID
FROM OrderDetails
WHERE Quantity = 10
);
"""
print_query_result(query)

                                   0
0                              Chais
1                              Chang
2       Chef Anton's Cajun Seasoning
3    Uncle Bob's Organic Dried Pears
4                              Konbu
5                               Tofu
6                            Pavlova
7         Teatime Chocolate Biscuits
8                Sir Rodney's Scones
9                 Guaraná Fantástica
10           NuNuCa Nuß-Nougat-Creme
11               Gumbär Gummibärchen
12           Thüringer Rostbratwurst
13             Nord-Ost Matjeshering
14                     Sasquatch Ale
15                    Steeleye Stout
16                        Gravad lax
17                     Côte de Blaye
18                  Boston Crab Meat
19   Jack's New England Clam Chowder
20     Singaporean Hokkien Fried Mee
21                     Perth Pasties
22                         Tourtière
23                      Pâté chinois
24              Raclette Courdavault
25                    Tarte au sucre
26  Louisiana Fiery Hot Pepper Sauce
27               Scottish Longbreads
28            Mozzarella di Giovanni
29              Rhönbräu Klosterbier
30   Original Frankfurter grüne Soße

In [287]:
query = """
SELECT ProductName
FROM Products
WHERE ProductID = ANY
(SELECT ProductID
FROM OrderDetails
WHERE Quantity > 99);
"""
# 마찬가지 !
query = """
SELECT ProductName
FROM Products
WHERE ProductID IN
(SELECT ProductID
FROM OrderDetails
WHERE Quantity > 99);
"""
print_query_result(query)

                0
0  Steeleye Stout
1    Pâté chinois

In [288]:
query = """
SELECT ProductName
FROM Products
WHERE ProductID = ANY
(SELECT ProductID
FROM OrderDetails
WHERE Quantity > 1000);
"""
# 마찬가지
query = """
SELECT ProductName
FROM Products
WHERE ProductID IN
(SELECT ProductID
FROM OrderDetails
WHERE Quantity > 1000);
"""

print_query_result(query)

Empty DataFrame
Columns: []
Index: []

## ALL

In [289]:
query = """
SELECT ALL ProductName
FROM Products
WHERE TRUE;
"""
# 이건 됨
print_query_result(query)

                                  0
0                             Chais
1                             Chang
2                     Aniseed Syrup
3      Chef Anton's Cajun Seasoning
4            Chef Anton's Gumbo Mix
..                              ...
72                       Röd Kaviar
73                    Longlife Tofu
74             Rhönbräu Klosterbier
75                     Lakkalikööri
76  Original Frankfurter grüne Soße

[77 rows x 1 columns]

In [290]:
query = """
SELECT ProductName
FROM Products
WHERE ProductID = ALL
(SELECT ProductID
FROM OrderDetails
WHERE Quantity = 10);
"""
# 이건 안됨
query = """
SELECT ProductName
FROM Products
WHERE ProductID NOT IN (
SELECT ProductID
FROM OrderDetails
WHERE Quantity <> 10
);
"""
print_query_result(query)

Empty DataFrame
Columns: []
Index: []

## SELECT INTO

In [291]:
query = """
SELECT * INTO CustomersBackup2017
FROM Customers;
"""

# sqlite는 SELECT INTO 지원 안 함 !
# 백업을 할거다 ? => 테이블을 하나 더 만들자

query = """
CREATE TABLE CustomersBackup2017 AS SELECT * FROM Customers;
"""
cursor = conn.cursor()

try:
    print_query_result(query)
except sqlite3.Error as e:
    print('이미 있음')

이미 있음

## INSERT INTO

In [292]:
query = """
INSERT INTO Customers (CustomerName, City, Country)
SELECT SupplierName, City, Country FROM Suppliers;
"""
print_query_result(query)

Empty DataFrame
Columns: []
Index: []

In [293]:
query = """
INSERT INTO Customers (CustomerName, ContactName, Address, City, PostalCode, Country)
SELECT SupplierName, ContactName, Address, City, PostalCode, Country FROM Suppliers;
"""
print_query_result(query)

Empty DataFrame
Columns: []
Index: []

In [294]:
query = """
INSERT INTO Customers (CustomerName, City, Country)
SELECT SupplierName, City, Country FROM Suppliers
WHERE Country='Germany';
"""
print_query_result(query)

Empty DataFrame
Columns: []
Index: []

## CASE

In [295]:
query = """
SELECT CustomerName, City, Country
FROM Customers
ORDER BY
(CASE
    WHEN City IS NULL THEN Country
    ELSE City
END);
"""
print_query_result(query)

                                0             1          2
0       Drachenblut Delikatessend        Aachen    Germany
1      Rattlesnake Canyon Grocery   Albuquerque        USA
2          Old World Delicatessen     Anchorage        USA
3          Galería del gastrónomo     Barcelona      Spain
4               LILA-Supermercado  Barquisimeto  Venezuela
..                            ...           ...        ...
86  Laughing Bacchus Wine Cellars     Vancouver     Canada
87           La corne d'abondance    Versailles     France
88                         Wolski         Walla       None
89           Lazy K Kountry Store   Walla Walla        USA
90                   Vaffeljernet         Århus    Denmark

[91 rows x 3 columns]

## IFNULL(), ISNULL(), COALESCE(), and NVL()

In [296]:
# Products 테이블에는 UnitsInStock,UnitsInStock 컬럼이 없다 !
# 만들어주자 !
## 완전 썡처음부터
import sqlite3
try: 
    conn = sqlite3.connect('database.db')
    cursor = conn.cursor()
    cursor.execute("ALTER TABLE Products ADD COLUMN UnitPrice INTEGER;")
    cursor.execute("ALTER TABLE Products ADD COLUMN UnitsInStock INTEGER;")
    cursor.execute("ALTER TABLE Products ADD COLUMN UnitsOnOrder INTEGER;")

    cursor.execute(
        "UPDATE Products SET UnitsPrice = 10")
    cursor.execute(
        "UPDATE Products SET UnitsInStock = NULL WHERE ProductID % 2 = 0;")
    cursor.execute(
        "UPDATE Products SET UnitsOnOrder = NULL WHERE ProductID % 3 = 0;")

    cursor.execute(
        "UPDATE Products SET UnitsInStock = 10 WHERE UnitsInStock IS NULL;")
    cursor.execute(
        "UPDATE Products SET UnitsOnOrder = 20 WHERE UnitsOnOrder IS NULL;")
    conn.close()
except sqlite3.OperationalError as e:
    print(e)
    print('이미 함ㅋㅋ, 닫는다?')
    conn.close()

conn = sqlite3.connect('database.db')
cursor = conn.cursor()

query = """
SELECT ProductName, UnitPrice * (UnitsInStock + UnitsOnOrder)
FROM Products;
"""
cursor.execute(query)
print(pd.DataFrame(cursor.fetchall()))
conn.close()

no such column: UnitsPrice
이미 함ㅋㅋ, 닫는다?
                                  0     1
0                             Chais  None
1                             Chang  None
2                     Aniseed Syrup  None
3      Chef Anton's Cajun Seasoning  None
4            Chef Anton's Gumbo Mix  None
..                              ...   ...
72                       Röd Kaviar  None
73                    Longlife Tofu  None
74             Rhönbräu Klosterbier  None
75                     Lakkalikööri  None
76  Original Frankfurter grüne Soße  None

[77 rows x 2 columns]

## IFNULL

In [297]:
query = """
SELECT ProductName, UnitPrice * (UnitsInStock + IFNULL(UnitsOnOrder, 0))
FROM Products;
"""
print_query_result(query)

                                  0     1
0                             Chais  None
1                             Chang  None
2                     Aniseed Syrup  None
3      Chef Anton's Cajun Seasoning  None
4            Chef Anton's Gumbo Mix  None
..                              ...   ...
72                       Röd Kaviar  None
73                    Longlife Tofu  None
74             Rhönbräu Klosterbier  None
75                     Lakkalikööri  None
76  Original Frankfurter grüne Soße  None

[77 rows x 2 columns]

## COALESCE

In [298]:
query = """
SELECT ProductName, UnitPrice * (UnitsInStock + COALESCE(UnitsOnOrder, 0))
FROM Products;
"""
print_query_result(query)

                                  0     1
0                             Chais  None
1                             Chang  None
2                     Aniseed Syrup  None
3      Chef Anton's Cajun Seasoning  None
4            Chef Anton's Gumbo Mix  None
..                              ...   ...
72                       Röd Kaviar  None
73                    Longlife Tofu  None
74             Rhönbräu Klosterbier  None
75                     Lakkalikööri  None
76  Original Frankfurter grüne Soße  None

[77 rows x 2 columns]

## Stored Procedure

In [299]:
query = """
CREATE PROCEDURE SelectAllCustomers
AS
SELECT * FROM Customers
GO;
"""
# sqlite는 저장 프로시저는 지원 안 함 !
query = """"""
print_query_result(query)

Empty DataFrame
Columns: []
Index: []